<body>
    <header>
        <div class="header-wrapper">
            <div class="header-container">
                <a href="#hero">CV</a>
            </div>

            <div class="header-container">
                <ul class="dropdown-menu">
                    <li><a href="fr.html">Service 1</a></li>
                    <li><a href="de.html">Service 2</a></li>
                </ul>

                <div class="menu-toggle">☰ Menu</div>
            </div>
        </div>
    </header>

    
    <nav class="off-canvas-menu">
        <button class="close-btn">&times;</button>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <main>