<body>
    

    <header>
        <div class="header-wrapper">
            <a href="#hero" class=" header-container cv-logo">
                CV
            </a>
         
            <div class="header-container">
            
                <div class="dropdown">
                    <img class="language-btn" src="/assets/svg/logos/globe.svg" alt="Globe">
                    <ul class="dropdown-content">
                        <li><a href="/fr"><img src="/assets/svg/logos/fr.svg" alt="flag of the United Kingdom"><div>FR</div></a></li>
                        <li><a href="/de"><img src="/assets/svg/logos/de.svg" alt="flag of France"> <div>DE</div></a></li>
                    </ul>
                </div>

                <img class="open-btn" src="/assets/svg/logos/menu.svg" alt="hamburger menu">
            </div>
        </div>
    </header>

    <div class="overlay">
        <div class="off-canvas-background">
            <nav class="off-canvas-menu">
                <div class="close-btn">
                    <img src="/assets/svg/logos/close.svg" alt="close button">
                </div>

                <ul>
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#goal">Goal</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <main>