@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Root Variables */
:root {
    --font-family: "Manrope", sans-serif;
    --color-gray: #595959;
    --color-white: white;
    --color-black: black;
    --font-weight-extra-bold: 800;
    --font-weight-bold: 600;
    --font-weight-medium: 500;
    --font-weight-light: 200;
    --font-size-h1: 2rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.1rem;
    --font-size-h5: 1rem;
    --font-size-p: 0.85rem;
    --font-size-gray-1: 0.95rem;
    --spacing-gap: 0.5rem;
    --spacing-large: 2rem;
    --spacing-medium: 1rem;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-black);
    color: var(--color-white);
}

img {
    user-select: none;
    filter: grayscale(100%);
}

/* Typography */
h1, h2, h3 {
    font-weight: var(--font-weight-extra-bold);
}

h1 {
    font-size: var(--font-size-h1);
    line-height: 1.2;
}

h3 {
    font-size: var(--font-size-h3);
    line-height: 1.2;
}

h4, .title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h4);
}

.title {
    color: var(--color-gray);
}

.title-1, .white-2 {
    font-weight: var(--font-weight-medium);
}

h5, .gray-2, .gray-1, .title-1 {
    color: var(--color-gray);
}

h5 {
    font-size: var(--font-size-h5);
    line-height: 1.2;
}

.gray-1 {
    font-size: var(--font-size-gray-1);
}

.gray-2 {
    margin: var(--spacing-large) 0 var(--spacing-medium);
    font-weight: var(--font-weight-medium);
}

.white-3, p, .accordion-content, .exp-ul li {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-p);
}

/* Spacing */
.text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap);
}

.column-box,
.flex-title {
    margin: var(--spacing-large) 0;
}

.normal-link {
    margin: var(--spacing-medium) 0;
}

/* Responsive Styles */
@media (min-width: 600px) {
    .flex-title {
        margin: calc(var(--spacing-large) * 2.5) 0;
    }
}
