@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-family: "Manrope", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: black;
    color: white;
}

img {
    user-select: none;
    filter: grayscale(100%);
}

/***Fonts******/
h1,
h2,
h3 { font-weight: 800;}

h1 {
    font-size: 2rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.2;
}

h4 {
    font-weight: 600;
    font-size: 1.1rem;
}

.title {
    color: #595959;
    font-weight: 600;
    font-size: 1.1rem;
}

.title-1 {
    font-weight: 500;
}


h5 {
    color: #595959;
    font-size: 1rem;
    line-height: 1.2;
}

.gray-1,
.title-1 { color: #595959;}
.white-2 { font-weight: 500;}

.gray-1 {
    font-size: 0.95rem;
}

.gray-2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #595959;
    font-weight: 500;
}

.white-2 {
    font-weight: 600;
}

p,
.accordion-content,
.exp-ul li {
    font-weight: 200;
    font-size: 0.85rem;
}

/***Spacing ****/
.text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.column-box {
    margin: 2rem 0;
}

.flex-title {
    margin: 2rem 0;
}

.normal-link {
    margin: 1rem 0;
}


@media (min-width: 600px) {
    /*** Text *********/

    /*** Spacing ******/
    .flex-title {
        margin: 5rem 0;
    }
    
}