@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-family: "Manrope", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: black;
    color: white;
}

img {
    user-select: none;
    filter: grayscale(100%);
}

/***Fonts******/
h1 { font-weight: 800;}
h4 { font-weight: 500;}
p {
    font-weight: 200;
    font-size: 0.8rem;
}

/***Spacing ****/

.flex-title {
    margin: 2rem 0;
}


@media (min-width: 600px) {
    /*** Text *********/

    /*** Spacing ******/
    .flex-title {
        margin: 4rem 0;
    }
    
}