/** Header *****/

header {
    padding: 1rem;
    position: fixed;
    z-index: 5;
    width: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper a,
.header-wrapper li {
    list-style-type: none;
    text-decoration: none;
}

.header-container {
    background-color: black;
    padding: 1rem;
}

/** Language Dropdown ****/

.navbar {
    background-color: #333;
    padding: 10px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    position: relative;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-link:hover {
    background-color: #575757;
}

/* Dropdown menu styling */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-item {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.dropdown-item:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** OffCanvas Menu****/

.off-canvas-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.off-canvas-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.off-canvas-menu li {
    padding: 10px;
}

.off-canvas-menu a {
    color: white;
    text-decoration: none;
    display: block;
}

.off-canvas-menu a:hover {
    background-color: #575757;
}

.off-canvas-menu .close-btn {
    font-size: 36px;
    border: none;
    background: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.off-canvas-menu.active {
    left: 0;
}

/** Buttons***/

.btn-link {
    position: relative;
    display: inline-block;
}

.btn-link a {
    text-decoration: none;
    font-family: inherit;
    color: white;
    font-weight: 900;
    transition: 0.5s;
    text-transform: uppercase;
}

.btn-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease-in-out;
    z-index: 0;
}

.btn-link:hover::before {
    width: 100%;
}

/** Hero Section****/
.two-columns img {
    width: 80%;
}

span { display: block; }

#hero {
    margin-top: 6rem;
}

/** Personal Goal Section ***/

.column-box ul {
    list-style: none;
    padding-left: 0;
}

.column-box li {
    position: relative;
    padding-left: 2rem;
}

.column-box li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 1.4rem;
    width: 20px; /* Set the width of the custom bullet */
    height: 20px; /* Set the height */
    background-image: url("/assets/svg/logos/circle-bullet.svg"); /* Path to your image or icon */
    background-size: contain; /* Ensure it scales properly */
    background-repeat: no-repeat;
}

.normal-link {
    color: white;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.normal-link img {
    width: 1.3rem;
    padding-left: 0.2rem;
}

.normal-link:hover { color: rgb(167, 167, 167); }
.normal-link img:hover { color: rgb(167, 167, 167);}

/** Education Section ***/

.flex-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gray-1,
.title-1 { color: #595959;}
.white-2 { font-weight: 500;}

.accordion-item {
    margin-bottom: 1rem;
}

.accordion-header {
    all: unset;
    background-color: black;
    cursor: pointer;
    font-family: inherit;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
}

.accordion-container {
    display: flex;
    flex-direction: column;
}

.accordion-container img {
    width: 1rem;
}

.accordion-header:hover .plus{
    scale: 1.2;
}

/** Experience ***/

.exp-ul li::before {
    top: 0;
}

/** Skills Section *****/

.skills-list li::before {
    top: 0.2rem;
    width: 15px;
}


.progress-bar {
    width: 100%;
    height: 0.5rem;
    background-color: #f3f3f3;
    padding: 2px;
    border-radius: 10px;
    position: relative;
}

.progress {
    height: 100%;
    background-color: black;
    width: 0; /* Default width */
    border-radius: 10px;
}




.tech-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.tooltip {
    position: relative;
}

.tooltip img {
    height: 3rem;
    filter: grayscale(100%);
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: -50%;
    left: 50%;
    font-size: 0.8rem;
    transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


@media (min-width: 600px) {
    .tooltip img {
        width: 4rem;
    }
}