main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 800px;
    padding: 1rem;
}

.two-columns {
    margin: 2rem 0;
}

@media (min-width: 600px) {
    .two-columns {
        display: grid;
        align-items: center;
        margin: 2rem 0;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}