main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    scroll-margin-top: 4rem;
}

.wrapper {
    max-width: 900px;
    padding: 1rem;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center > img {
    max-width: 85%;
}

.logo-svg {
    max-height: 4rem;
    margin-bottom: 1rem;
}


.two-columns {
    margin: 2rem 0;
}

@media (min-width: 450px) {

    .center > img {
        max-width: 50%;
        object-fit: contain;
        margin: 3rem 0; /* Ensures the image scales while maintaining aspect ratio */
    }
}

@media (min-width: 650px) {

    

    .center > img {
        max-width: 80%; /* Limits the maximum width */
        max-height: 80%; /* Limits the maximum height */
        object-fit: contain; /* Ensures the image scales while maintaining aspect ratio */
    }

    .two-columns {
        display: grid;
        align-items: stretch;
        margin: 2rem 0;
        gap: 2.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

}