/** Header *****/

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper a,
.header-wrapper li {
    list-style-type: none;
    text-decoration: none;
}

/** Language Dropdown ****/

.navbar {
    background-color: #333;
    padding: 10px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    position: relative;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-link:hover {
    background-color: #575757;
}

/* Dropdown menu styling */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-item {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.dropdown-item:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** OffCanvas Menu****/

.off-canvas-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.off-canvas-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.off-canvas-menu li {
    padding: 10px;
}

.off-canvas-menu a {
    color: white;
    text-decoration: none;
    display: block;
}

.off-canvas-menu a:hover {
    background-color: #575757;
}

.off-canvas-menu .close-btn {
    font-size: 36px;
    border: none;
    background: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.off-canvas-menu.active {
    left: 0;
}

/** Hero Section****/
#hero img {
    width: 80%;
}

.grid-hero {

}

