<%- include("../partials/header-de.ejs") %>

<%- include("../partials/navbar-de.ejs") %>

<section id="hero">
    <div class="wrapper">
        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/portrait-cv.png" alt="Portait Image">
            </div>
    
            <div class="container center">
                <div class="text">
                    <h1>
                        <span>Berufsanwärter</span>
                        <span>in der</span>
                        <span>Geschäftswelt</span>
                    </h1>
                    <h5>Abiturient in Handel und Verwaltung</h5>
                    <p>
                        Mein Name ist Kevin Gomes Pardal Antunes und ich habe vor Kurzem mein 
                        Studium am „Lycée Technique d'Ettelbruck“ mit Schwerpunkt Handel und 
                        Verwaltung abgeschlossen.
                    </p>
                    <a class="normal-link" href="/check-en">Lebenslauf herunterladen<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section id="goal">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Berufliches Ziel</h2>
                <span class="title">Überblick</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/wall-street-plates.png" alt="wall street plate">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>Ich strebe danach,</span>
                        <span>im Finanzsektor</span>
                        <span>erfolgreich zu sein</span>
                    </h3>
                    <h5>Zahlen und Wirtschaftsbereiche sind meine Leidenschaft</h5>
                    <p>
                        Aufstrebender Finanz- und Buchhaltungsprofi, der einen Online-Bachelor- und 
                        Master-Abschluss anstrebt, mit Schwerpunkt auf Finanzmärkten und aktienbezogenen 
                        Sektoren. Kompetent in Datenanalyse, Finanzmanagement und Buchhaltungssoftware, 
                        mit einer Leidenschaft dafür, Zahlen zu nutzen, um das Unternehmenswachstum 
                        voranzutreiben. Fließend in fünf Sprachen, mit großartigen Problemlösungs- und 
                        Organisationsfähigkeiten.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Bildungsweg</h4>
                    <span class="title-1">Plan</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">ISM | International School of Management</span>
                                <span class="white-2">Bachelor of Science | Finanzmanagement (2024 - 2029)</span>
                                <p>
                                    Ich absolviere momentan ein Fernstudium an einer renomierten privaten Hochschule in Hamburg.
                                    Spezialisiert auf Rechnungswesen, Finanzanalyse und Controlling mit einer 
                                    soliden Grundlage in globalen Finanzen und Betriebswirtschaft.
                                </p>
                                <a class="normal-link" href="https://ism-fernstudium.de/en/bachelor/b-sc-financial-management" target="_blank">www.ism.de<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Ziehe noch verschiedene Masterprogramme in Betracht</span>
                                <span class="white-2">Master im Finanzwesen (2029 - 2031)</span>
                                <p>
                                    Ich möchte mein Fachwissen im globalen Finanzwesen erweitern und plane, einen 
                                    Master-Abschluss mit Schwerpunkt auf strategischem Finanzmanagement und 
                                    Investitionsanalyse zu erwerben.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">CFA Institute</span>
                                <span class="white-2">Chartered Financial Analyst</span>
                                <p>
                                    Ein Programm, das vom CFA Institute mit Sitz in den USA international für Investment- 
                                    und Finanzfachleute angeboten wird.
                                </p>
                                <a class="normal-link" href="https://www.cfainstitute.org/en/" target="_blank">www.cfainsitute.org<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Arbeitsposten</h4>
                    <span class="title-1">Plan</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Einsteiger</span>
                                <span class="white-2">Buchhalter</span>
                                <p>
                                    Ich beginne meine Laufbahn als Berufsanfänger in der Buchhaltung und möchte 
                                    eine solide Grundlage in den Bereichen Finanzmanagement, Rechnungslegungsgrundsätze 
                                    und Compliance schaffen.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Mittlere Führungsposition</span>
                                <span class="white-2">Bankangestellter</span>
                                <p>
                                    Ich möchte mich als Bankangestellter auszeichnen, indem ich meinen Bachelor-Abschluss 
                                    in Finanzwesen einsetze, um Kunden bei Finanzdienstleistungen zu unterstützen, Transaktionen 
                                    zu verwalten und durch außergewöhnlichen Kundenservice und Finanzwissen zum Wachstum 
                                    der Bank beizutragen.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Höhere Führungsposition</span>
                                <span class="white-2">Investmentbanker</span>
                                <p>
                                    Auf der Grundlage meines fortgeschrittenen Studiums im Finanzwesen möchte ich Investmentbanker 
                                    werden. Ich strebe die Leitung von Finanztransaktionen mit hohem Risiko an, einschließlich 
                                    Fusionen und Übernahmen, Kapitalbeschaffung und strategische Beratungsdienste.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="education">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Ausbildung</h2>
                <span class="title">Spezialgebiet</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/library.png" alt="pile of books">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>Lebenslanges Lernen ist</span>
                        <span>heutzutage unerlässlich, um</span>
                        <span>erfolgreich zu sein</span>
                    </h3>
                    <h5>Auf dem sich ständig verändernden Arbeitsmarkt ist es von entscheidender Bedeutung</h5>
                    <p>
                        Schon in jungen Jahren war ich von den Feinheiten der Finanz- und Wirtschaftswissenschaften 
                        fasziniert. Meine Schulausbildung hat mir eine solide Grundlage in Finanzprinzipien und 
                        Unternehmensführung gegeben. Ich habe eine Leidenschaft für Finanzen, Investitionen und 
                        Unternehmertum und freue mich darauf, meine Fähigkeiten und meinen Enthusiasmus in ein 
                        zukunftsorientiertes Finanzteam einzubringen.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Zertifizierungen</h4>
                    <span class="title-1">Auszeichnungen</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">1GCC | Deserving Student 2023/24</span>
                        <p>
                            Eine Auszeichnung für Schüler mit hervorragenden Noten und vorbildlichem Verhalten
                        </p>

                        <a href="/assets/pdf/1GCC-élève-méritant.pdf" class="normal-link" target="_blank">
                            1GCC-élève-méritant.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">CNPSES & Chambre de Commerce</span>
                        <span class="white-2">Akademisches Leistungszertifikat (GCC) 2024</span>
                        <p>
                            Auszeichnung für herausragende Leistungen in Rechnungswesen, Betriebswirtschaftslehre 
                            und Politische Ökonomie, die jedes Jahr nur 40 Studierenden in Luxemburg verliehen 
                            wird
                        </p>

                        <a href="/assets/pdf/CNPSES-certificat-GCC.pdf" class="normal-link" target="_blank">
                            CNPSES-Certificat-GCC.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">2GCC | Élève méritant 2022/23</span>
                        <p>
                            Eine Auszeichnung für Schüler mit hervorragenden Noten und vorbildlichem Verhalten
                        </p>

                        <a href="/assets/pdf/2GCC-élève-méritant.pdf" class="normal-link" target="_blank">
                            2GCC-élève-méritant.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">Trendiction SA | Job Shadow Event 2024</span>
                        <p>
                            Eine freiwillige Veranstaltung für Schüler, bei der sie einen Tag lang ein Unternehmen besuchen, um Unternehmertum und Berufsberatung zu erlernen
                        </p>

                        <a href="/assets/pdf/Trendiction-SA-Job-Shadow-Day.pdf" class="normal-link" target="_blank">
                            Trendiction-SA-Job-Shadow-Day.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">Aktiv Plang | Projekt "Studie" 2022/23</span>
                        <p>
                            Belohnung für die regelmäßige Nutzung der Bibliothek durch die Schüler, ein ruhiger 
                            Ort für Hausaufgaben und Recherchen
                        </p>

                        <a href="/assets/pdf/Aktiv-Plang-2023.pdf" class="normal-link" target="_blank">
                            Aktiv-Plang-2023.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">CLIK Marketing | Mini-Entreprise 2023</span>
                        <p>
                            Ein Programm, das luxemburgischen Gymnasiasten ermöglichte, ein Jahr lang ein kleines 
                            Unternehmen zu leiten und so ihren Unternehmergeist und ihre Fähigkeiten zu entwickeln.
                        </p>

                        <a href="/assets/pdf/Mini-Entreprise-CLIK-2023.pdf" class="normal-link" target="_blank">
                            Mini-Entreprise-CLIK-2023.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Institution</h4>
                    <span class="title-1">Gymnasium</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <img class="logo-svg" src="/assets/svg/logos/ltett-logo.svg" alt="Ltett logo">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">Fachrichtung Verwaltungs- & Handelswesen</span>
                        <span class="white-3">4GCM, 3GCM, 2GCC & 1GCC</span>
                        <a href="https://www.ltett.lu/index.php/offre-scolaire/economie/" class="normal-link" target="_blank">www.ltett.lu<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                        <p>
                            <b>Abschluss:</b> 6 Juli 2024
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion">
                            <div class="accordion-item">
                                <span class="gray-1">Relevante Studienfächer</span>
                                <button class="accordion-header" aria-expanded="false">
                                    <div class="accordion-container">
                                        <span class="white-2">Betriebswirtschaft</span>
                                    </div>
    
                                    <div class="accordion-container">
                                        <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                    </div>
                                </button>

                                <div class="accordion-content" hidden>
                                    Der Unterricht „Betriebswirtschaft“ regt die Schülerinnen und Schüler an, die wirtschaftlichen, 
                                    rechtlichen, steuerlichen, finanziellen und sozialen Entscheidungen von Unternehmen zu 
                                    verstehen, zu interpretieren und einer kritischen Betrachtung zu unterziehen. Die 
                                    Schülerinnen und Schüler werden darauf vorbereitet, unter Berücksichtigung rechtlicher, wirtschaftlicher, 
                                    steuerlicher, finanzieller und sozialer Aspekte selbst über das Vermögen natürlicher und juristischer 
                                    Personen zu entscheiden.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    <div class="accordion-container">
                                        <span class="white-2">Politische Ökonomie</span>
                                    </div>
    
                                    <div class="accordion-container">
                                        <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                    </div>
                                </button>

                                <div class="accordion-content" hidden>
                                    Die Lehrveranstaltung „Politische Ökonomie“ fördert die Kenntnis und Anwendung ökonomischer Fachbegriffe, 
                                    um wirtschaftliche Zusammenhänge, Sachverhalte und aktuelle Probleme aus der Sicht unterschiedlicher 
                                    wirtschaftlicher Akteure zu erklären.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    <div class="accordion-container">
                                        <span class="white-2">Buchhaltung</span>
                                    </div>
    
                                    <div class="accordion-container">
                                        <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                    </div>
                                </button>

                                <div class="accordion-content" hidden>
                                    Im Studiengang „Rechnungswesen“ erlernen die Schülerinnen und Schüler die wesentlichen Regeln der Buchführung 
                                    und sind so in der Lage, den Jahresabschluss eines Unternehmens zu erstellen, zu prüfen und zu kontrollieren.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-title">
                    <h4>Freizeit</h4>
                    <span class="title-1">Hobbys</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Seit 2024</span>
                        <span class="white-2">Bildbearbeitung</span>
                        <p>
                            Es macht mir Spaß, Momente durch sorgfältige Fotobearbeitung in visuelle Geschichten zu verwandeln.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Seit 2023</span>
                        <span class="white-2">Web-Entwickelung</span>
                        <p>
                            Die Schaffung nahtloser digitaler Erlebnisse durch Programmierung ist zu einer meiner Leidenschaften geworden.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Seit 2022</span>
                        <span class="white-2">Körperliche Betätigung</span>
                        <p>
                            Die Aufrechterhaltung eines gesunden Körpers und Geistes durch regelmäßige körperliche Betätigung gibt mir täglich neue Energie.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Seit 2018</span>
                        <span class="white-2">Grafikdesign</span>
                        <p>
                            Meine Kreativität entfaltet sich bei der Gestaltung von überzeugendem Bildmaterial, das Ideen effektiv vermittelt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="experience">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Erfahrung</h2>
                <span class="title">Übersicht</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/pocket-watch.png" alt="pocket watch">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        Nutzung von Pratika zur Entwickelung vielseitiger Fähigkeiten in verschiedenen Sektoren
                    </h3>
                    <h5>Aufbau einer soliden Grundlage in unterschiedlichen Branchen</h5>
                    <p>
                        Als frischgebackener Absolvent habe ich durch Praktika in verschiedenen Branchen wertvolle Fähigkeiten 
                        erworben. Bei einem Marmorproduktionsunternehmen habe ich meine Fähigkeiten in Organisation und Kundenservice 
                        verbessert, indem ich beim Verkauf geholfen und Verwaltungsaufgaben rationalisiert habe. Mein Praktikum in 
                        der Apotheke hat meine Liebe zum Detail und meine Fähigkeiten im Bestandsmanagement weiter entwickelt. Diese 
                        Erfahrungen haben mir eine solide Grundlage in Organisation und Kundenservice gegeben, die ich gerne in der 
                        Finanzbranche anwenden möchte.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>März</h4>
                    <span class="title-1">2017</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <img class="logo-svg" src="/assets/svg/logos/lampertz-stone-designer-logo.svg" alt="Lampertz Logo">
                        <span class="gray-1">Informationspraktikum</span>
                        <span class="white-2">Lampertz Stone Designer</span>
                        <p>
                            Marmorhersteller
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="white-2">Mehr Information</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                Während meines Handelsstudiums absolvierte ich ein Praktikum bei einem Marmorsteinhersteller und erwarb dabei umfassende 
                                Kenntnisse der Marmorindustrie. Ich unterstützte den Vertrieb, indem ich mit Kunden interagierte, ihre 
                                Bedürfnisse verstand und ihnen half, geeignete Marmorprodukte auszuwählen. Darüber hinaus beobachtete ich den 
                                Installationsprozess und lernte die technischen und logistischen Aspekte kennen. Diese Erfahrung vertiefte mein 
                                Verständnis für verschiedene Marmorarten, ihre Anwendungen und die damit verbundene Handwerkskunst und 
                                verbesserte gleichzeitig meine Fähigkeiten im Kundenservice und bei der Produktauswahl.
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <ul class="exp-ul">
                            <li>Umfassende Kenntnisse über die Marmorindustrie erworben</li>
                            <li>Unterstützung beim Verkauf. Beobachtung von Verkaufsexperten bei der Interaktion mit Kunden, beim Verstehen ihrer Bedürfnisse und bei der Auswahl geeigneter Marmorprodukte</li>
                            <li>Beobachtete den Installationsprozess und erhielt Einblicke in technische und logistische Aspekte der Marmorinstallation</li>
                            <li>Entwickelte ein besseres Verständnis für Kundenservice und Produktauswahl</li>
                            <li>Organisierte Dokumente und Dateien zur Verbesserung der Verwaltungseffizienz</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>November</h4>
                    <span class="title-1">2016</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <img class="logo-svg" src="/assets/svg/logos/pharmacie-hosingen-logo.svg" alt="Pharmacie Hosingen Logo">
                        <span class="gray-1">Praktisches Praktikum</span>
                        <span class="white-2">Pharmacie de Hosingen</span>
                        <p>
                            Apotheke
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="white-2">Mehr Information</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                Während meines Handelsstudiums habe ich ein Praktikum in einer örtlichen Apotheke absolviert und dabei unschätzbare 
                                praktische Erfahrungen gesammelt. Ich war aktiv an den täglichen Abläufen beteiligt, insbesondere an der 
                                Bestandsverwaltung, um sicherzustellen, dass Medikamente und Vorräte vorrätig und organisiert waren. Dazu 
                                gehörte die Durchführung von Inventurkontrollen, die Verwaltung der Lagerbestände und die Nachbestellung von 
                                Produkten nach Bedarf. Außerdem unterstützte ich das Apothekenpersonal bei der Führung von Aufzeichnungen und 
                                der Organisation von Lagerbereichen. Diese Erfahrung hat mein Verständnis für Bestandskontrollprozesse 
                                erweitert, meine organisatorischen Fähigkeiten verbessert und mir Einblicke in den Apothekenbetrieb ermöglicht.
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <ul class="exp-ul">
                            <li>Unterstützung bei der Bestandsverwaltung, Sicherstellung, dass Medikamente und Vorräte angemessen gelagert und organisiert sind</li>
                            <li>Durchführung regelmäßiger Bestandsprüfungen, Verwaltung der Lagerbestände und Unterstützung bei der Nachbestellung von Produkten nach Bedarf</li>
                            <li>Unterstützung des Apothekenpersonals bei der Führung genauer Aufzeichnungen. Entwickelte ein ausgeprägtes Verständnis für die Prozesse der Bestandskontrolle</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Industrie</h2>
                <span class="title">Kompetenzen</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/rubics-cube.png" alt="rubics cube">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>Kernkompetenzen, die</span>
                        <span>für den Finanzsektor</span>
                        <span>relevant sind</span>
                    </h3>
                    <h5>Schlüsselqualifikationen für Finanzanalyse und Unternehmenserfolg</h5>
                    <p>
                        Auf meinem Bildungsweg habe ich mir entscheidende Fähigkeiten angeeignet, die für den Erfolg im Finanzsektor 
                        unerlässlich sind. Ich habe starke analytische Fähigkeiten entwickelt, die es mir ermöglichen, Probleme mit 
                        einer logischen, datengesteuerten Denkweise anzugehen. Ich zeichne mich durch Finanzanalysen, 
                        Dateninterpretation und präzises Verfassen von Berichten aus, die Klarheit und Genauigkeit in der 
                        Kommunikation gewährleisten. Außerdem beherrsche ich wichtige Finanzsoftware und -tools.
                    </p>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="white-2">Bewertung des Qualifikationsniveaus</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>A1 (Grundkenntnisse): Anfängerniveau mit grundlegenden Kenntnissen oder Fertigkeiten</li>
                                    <li>A2 (Grundkenntnisse +): Kann einfache Aufgaben unter Anleitung ausführen</li>
                                    <li>B1 (Mittelstufe): Kompetente Bewältigung alltäglicher Aufgaben mit einiger Selbstständigkeit</li>
                                    <li>B2 (Mittelstufe +): Beherrschung komplexerer Aufgaben mit Selbstständigkeit</li>
                                    <li>C1 (Fortgeschritten): Expertenniveau mit tiefem Verständnis und der Fähigkeit zur Innovation oder zur Lösung komplexer Probleme</li>
                                    <li>C2 (Beherrschung): Vordenker oder anerkannter Experte, der in der Lage ist, andere anzuleiten und auf dem Gebiet eine Führungsrolle zu übernehmen</li>
                                </ul>

                                <p>Für Sprachen:</p>
                                <a class="normal-link" href="https://cefr.eu/" target="_blank">www.cefr.eu<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Akademische</h4>
                    <span class="title-1">Fähigkeiten</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Fortgeschrittene</div>
                                    <span class="white-2">Betriebswirtschaft</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Solides Verständnis der wirtschaftlichen, rechtlichen, steuerlichen, finanziellen und gesellschaftlichen Entscheidungen von Unternehmen.</li>
                                    <li>Fähigkeit zur kritischen Beurteilung von Geschäftsentscheidungen, anwendbar in Finanzanalysen, Anlagestrategien und Unternehmensberatung.</li>
                                    <li>Informierte Entscheidungsfindung zur Vermögensverwaltung unter Berücksichtigung rechtlicher und wirtschaftlicher Auswirkungen.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.microsoft365.com/" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Mircosoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Fortgeschritten</div>
                                    <span class="white-2">Politische Ökonomie</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Erkennen und Erklären wirtschaftlicher Mechanismen und Probleme aus der Sicht verschiedener Interessengruppen.</li>
                                    <li>Fähigkeiten zur Analyse aktueller wirtschaftlicher Probleme, die für die Wirtschaftsforschung, die politische Analyse und die Finanzberatung von Bedeutung sind.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Fortgeschritten</div>
                                    <span class="white-2">Buchhaltung</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Kenntnis der wesentlichen Rechnungslegungsvorschriften und -techniken, die die Erstellung, Prüfung und Verifizierung von Jahresabschlüssen ermöglichen.</li>
                                    <li>Fähigkeit, Finanzdaten zu verwalten und zu interpretieren, unterstützende Funktionen in den Bereichen Rechnungsprüfung, Finanzanalyse und Buchführung.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.sage.com/en-us/sage-business-cloud/intacct/" target="_blank">
                                            <img src="/assets/svg/logos/sage-bob.svg" alt="Sage Bob Expert">
                                        </a>
                                        
                                        <span class="tooltiptext">Sage Bob Expert</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>B2</b> Mittelstufe +</div>
                                    <span class="white-2">Professionelle Kommunikation und menschliche Beziehungen</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Fachkenntnisse im Verfassen und Formatieren verschiedener Arten von Geschäftsbriefen, Vorschlägen und Berichten unter Verwendung von MS Word, wobei die Professionalität der gesamten Geschäftskorrespondenz gewährleistet ist.</li>
                                    <li>Entwicklung ausgeprägter schriftlicher Kommunikationsfähigkeiten, die auf den geschäftlichen Kontext zugeschnitten sind und für die Kommunikation mit Kunden, den formellen Schriftverkehr und die interne Dokumentation unerlässlich sind.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Html 5">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>B1</b> Mittelstufe</div>
                                    <span class="white-2">Organisation und Büromanagement</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Beherrschen von Organisations- und Managementtechniken, Nutzung technologischer Ressourcen zur Steigerung der Produktivität.</li>
                                    <li>Fähig, organisatorische Aufgaben zu koordinieren und zu unterstützen, wertvoll für Projektmanagement, Büroverwaltung und betriebliche Effizienz im Finanzbereich.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.microsoft365.com/" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Mircosoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Fortgeschritten</div>
                                    <span class="white-2">Informations- und Kommunikationstechnologien</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Fachkenntnisse über die Funktionsweise von Software zur Verwaltung und Übermittlung von Unternehmensdaten, die für IT-Funktionen im Finanzbereich und die Datenverwaltung unerlässlich sind.</li>
                                    <li>Vorbereitet auf die digitalen Aspekte des Arbeitslebens, mit Fähigkeiten zur Verwaltung von Finanzdatenbanken, Cybersicherheit und digitaler Kommunikation.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.microsoft365.com/" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Mircosoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Fortgeschritten</div>
                                    <span class="white-2">Kenntnisse der zeitgenössischen Welt</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Umfassendes Verständnis aktueller globaler Themen, einschließlich der jüngsten Geschichte, Geopolitik und sozioökonomischer Trends.</li>
                                    <li>Entwickelte Fähigkeiten zum kritischen Denken, um globale Wirtschaftsereignisse zu bewerten und darauf zu reagieren - ein wertvoller Vorteil für Positionen in der globalen Finanz-, Investitions- und Politikberatung.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-title">
                    <h4>Sprachkenntnisse</h4>
                    <span class="title-1">Kompetenzen</span>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>C2</b> Beherrschung</div>
                                <span class="white-2">Luxembourgisch</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>C2-Niveau in Luxemburgisch, d. h. nahezu muttersprachliche Sprachkompetenz und Verständnis.</li>
                                <li>
                                    Er ist mit dieser Sprache aufgewachsen, die nicht Teil des formalen Lehrplans der Oberschule war, was 
                                    seine Fähigkeit, mit luxemburgischsprachigen Interessengruppen und Gemeinschaften im Finanzsektor in Kontakt 
                                    zu treten, verbessert hat.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>C2</b> Beherrschung</div>
                                <span class="white-2">Deutsch</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Entwickelte Sprach- und Kommunikationsfähigkeiten für den Einsatz in akademischen, beruflichen und sozialen Kontexten.</li>
                                <li>
                                    Sie haben ein Verständnis für die Ästhetik der deutschen Sprache und Literatur entwickelt und unterstützen Rollen, die 
                                    zweisprachige Kommunikation oder kulturelle Sensibilität in deutschsprachigen Märkten erfordern.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>C1</b> Fortgeschritten</div>
                                <span class="white-2">Englisch</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Erreichte Englischkenntnisse, die für die Integration in das berufliche Umfeld und die Hochschulbildung ausreichen.</li>
                                <li>Entwickelte interkulturelle Kommunikationsfähigkeiten, die für den Umgang mit internationalen Kunden, Partnern und Interessengruppen im Finanzsektor entscheidend sind.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>B2</b> Mittelstufe +</div>
                                <span class="white-2">Französisch</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Erwerb von sprachlichen Ressourcen und fächerübergreifenden Kompetenzen in Französisch, die im Berufsleben und im weiteren Studium anwendbar sind.</li>
                                <li>Erlangung von Kenntnissen der französischsprachigen Welt, wertvoll für Positionen, die französischsprachige Märkte, Kunden oder internationale Operationen betreffen.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>B2</b> Mittelstufe +</div>
                                <span class="white-2">Portugiesisch</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Muttersprachler mit einem Sprachniveau von B2 gemäß dem CEFR, der in der Lage 
                                    ist, Meinungen und Argumente wirksam auszudrücken.</li>
                                <li>Diese Kenntnisse wurden zwar nicht in der Schule erworben, unterstützen aber 
                                    die Kommunikation mit portugiesischsprachigen Kunden und Märkten im Finanzsektor.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Technische</h4>
                    <span class="title-1">Fähigkeiten</span>
                </div>
                
                <div class="column-list">
                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>C1</b> Fortgeschritten</span>
                                    <span class="white-2">Business Management Tools</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Umfassende Erfahrung mit MS Office 365-Anwendungen, insbesondere Excel, Access und 
                                        Word, die für die Finanzmodellierung, Datenverwaltung und Dokumentenerstellung entscheidend sind.</li>
                                    <li>Fähigkeit, komplexe Tabellenkalkulationen zu erstellen, Datenbanken zu verwalten 
                                        und professionelle Dokumente zu erstellen, die Finanzvorgänge und Entscheidungsprozesse unterstützen.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B1</b> Mittelstufe</span>
                                    <span class="white-2">Web-Entwickelung</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Entwicklung statischer Websites und grundlegender Webanwendungen 
                                        mit Schwerpunkt auf Funktionalität und ästhetisch ansprechendem Design.</li>
                                    <li>Angewandte Kenntnisse der Grundsätze der Benutzererfahrung (UX) 
                                        zur Schaffung intuitiver Schnittstellen, die für die Erstellung von 
                                        Kundenportalen oder internen Finanz-Dashboards nützlich sein können.</li>
                                    <li>Vertraut mit HTML, CSS und JavaScript, um die Entwicklung von Webtools 
                                        zu ermöglichen, die Finanzvorgänge oder Kundeninteraktionen rationalisieren können.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/tech-stack/html-5.svg" alt="Html 5">
                                        </a>
                                        
                                        <span class="tooltiptext">HTML</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
                                            <img src="/assets/svg/tech-stack/css-3.svg" alt="Css 3">
                                        </a>
                                        
                                        <span class="tooltiptext">CSS</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                                            <img src="/assets/svg/tech-stack/javascript.svg" alt="Javascript">
                                        </a>
                                        
                                        <span class="tooltiptext">Javascript</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://jquery.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/jquery.svg" alt="jQuery">
                                        </a>
                                        
                                        <span class="tooltiptext">jQuery</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://gsap.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/gsap.svg" alt="GreenSock">
                                        </a>
                                        
                                        <span class="tooltiptext">GSAP</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://threejs.org/" target="_blank">
                                            <img src="/assets/svg/tech-stack/three-js.svg" alt="Three.js">
                                        </a>
                                        
                                        <span class="tooltiptext">Three.js</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://getbootstrap.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/bootstrap.svg" alt="Bootstrap">
                                        </a>
                                        
                                        <span class="tooltiptext">Bootstrap</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://tailwindui.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/tailwind-css.svg" alt="Tailwind CSS">
                                        </a>
                                        
                                        <span class="tooltiptext">Tailwind CSS</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://www.npmjs.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/npm.svg" alt="NPM">
                                        </a>
                                        
                                        <span class="tooltiptext">NPM</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://nodejs.org/en" target="_blank">
                                            <img src="/assets/svg/tech-stack/node-js.svg" alt="Node.js">
                                        </a>
                                        
                                        <span class="tooltiptext">Node.js</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://expressjs.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/express-js.svg" alt="Express.js">
                                        </a>
                                        
                                        <span class="tooltiptext">Express.js</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://ejs.co/" target="_blank">
                                            <img src="/assets/svg/tech-stack/ejs.svg" alt="EJS">
                                        </a>
                                        
                                        <span class="tooltiptext">EJS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>C1</b> Fortgeschritten</span>
                                    <span class="white-2">Datenanalyse</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Aneignung von Grundkenntnissen über Datenanalyseinstrumente 
                                        und -techniken, einschließlich Excel und anderer Statistiksoftware.</li>
                                    <li>Sie sind in der Lage, aus Daten verwertbare Erkenntnisse zu 
                                        gewinnen, die für die Finanzanalyse, Risikobewertung und 
                                        Entscheidungsfindung entscheidend sind.</li>
                                    <li>Kenntnisse grundlegender Datenvisualisierungstechniken, die 
                                        die Präsentation von Finanzdaten in klarer, aussagekräftiger 
                                        Form für die Beteiligten erleichtern</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>C1</b> Fortgeschritten</span>
                                    <span class="white-2">Datenbankverwaltung</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Erfahrung mit Datenbankmanagementsystemen, die eine 
                                        effiziente Organisation und Abfrage von Finanzdaten 
                                        ermöglichen.</li>
                                    <li>Kenntnisse in der Strukturierung von Datenbanken zur 
                                        Unterstützung von Finanzberichten, CRM-Systemen (Client 
                                        Relationship Management) und der Bestandskontrolle.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B2</b> Mittelstufe +</span>
                                    <span class="white-2">Digitale Kommunikationsmittel</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Beherrschung von Tools wie E-Mail, Messaging-Apps und Plattformen für die virtuelle Zusammenarbeit, 
                                        um eine reibungslose und effiziente Kommunikation zu ermöglichen.</li>
                                    <li>Erfahrung in der Verwaltung digitaler Korrespondenz und der Koordinierung virtueller Meetings, um 
                                        eine effektive Kommunikation mit Kunden und Teammitgliedern an verschiedenen Standorten zu gewährleisten.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B2</b> Mittelstufe +</span>
                                    <span class="white-2">Grafikdesign</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Beherrschung professioneller Grafikdesignsoftware zur Erstellung visuell ansprechender 
                                        Präsentationen und Marketingmaterialien.</li>
                                    <li>Sie sind in der Lage, Finanzberichte, Broschüren und Pitch Decks zu entwerfen, die sowohl 
                                        informativ als auch visuell ansprechend sind und die Kommunikation mit Kunden und Investoren 
                                        verbessern.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://affinity.serif.com/en-us/designer/" target="_blank">
                                            <img src="/assets/svg/logos/designer-icon.svg" alt="Affinity Designer">
                                        </a>
                                        
                                        <span class="tooltiptext">Affinity Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B1</b> Mittelstufe</span>
                                    <span class="white-2">Bildbearbeitung</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Grundlegende Kenntnisse in der Fotobearbeitung mit Affinity Photo, geeignet für die 
                                        Aufwertung visueller Inhalte für Berichte, Präsentationen und Marketingmaterialien.</li>
                                    <li>Fähigkeit, einfache Anpassungen wie Zuschneiden, Farbkorrekturen und Überlagerungen 
                                        vorzunehmen, um die visuelle Attraktivität von Finanzdokumenten und Online-Inhalten 
                                        zu verbessern.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://affinity.serif.com/en-us/photo/" target="_blank">
                                            <img src="/assets/svg/logos/photo-icon.svg" alt="Affinity Photo">
                                        </a>
                                        
                                        <span class="tooltiptext">Affinity Photo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B2</b> Mittelstufe +</span>
                                    <span class="white-2">Desktop Publishing</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Beherrschung der Anwendung von Affinity Publisher zur Erstellung und Gestaltung 
                                        professioneller Dokumente wie Broschüren, Berichte und Marketingmaterialien.</li>
                                    <li>Er verfügt über Fachkenntnisse in den Bereichen Layoutdesign, Typografie und 
                                        Dokumentenformatierung und gewährleistet qualitativ hochwertige Präsentationen 
                                        und Veröffentlichungen für Finanz- und Geschäftszwecke.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://affinity.serif.com/en-us/publisher/" target="_blank">
                                            <img src="/assets/svg/logos/publisher-icon.svg" alt="Affinity Publisher">
                                        </a>
                                        
                                        <span class="tooltiptext">Affinity Publisher</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>A1</b> Grundkenntnisse</span>
                                    <span class="white-2">Videobearbeitung</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Vertraut mit grundlegenden Videobearbeitungstechniken mit DaVinci Resolve, die für die Erstellung 
                                        und Bearbeitung von Marketinginhalten, Unternehmensvideos oder Präsentationen in Finanzinstituten 
                                        geeignet sind.</li>
                                    <li>Sie können einfache Videoaufgaben durchführen, z. B. Schneiden, Übergänge und grundlegende Farbkorrekturen, 
                                        die bei der Produktion von professionellen visuellen Inhalten für Kundenpräsentationen und Werbematerialien 
                                        nützlich sein können.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.blackmagicdesign.com/products/davinciresolve" target="_blank">
                                            <img src="/assets/svg/logos/davinci.svg" alt="Affinity Designer">
                                        </a>
                                        
                                        <span class="tooltiptext">DaVinci Resolve</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-title">
                    <h4>Soziale</h4>
                    <span class="title-1">Kompetenzen</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1">Finanz</span>
                                    <span class="white-2">Analytisches Denken</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Fähigkeit, komplexe Finanzdaten zu analysieren und aussagekräftige Erkenntnisse zu gewinnen.</li>
                                    <li>Fähigkeit zur Erkennung von Trends, Mustern und potenziellen Risiken, die zu einer fundierten 
                                        Entscheidungsfindung führen.</li>
                                    <li>Beherrscht die Bewertung von Investitionsmöglichkeiten und die Beurteilung der finanziellen Lage.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1">Finanz</span>
                                    <span class="white-2">Aufmerksamkeit für Details</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Sorgfältige Überprüfung von Finanzdokumenten und Sicherstellung 
                                        der Genauigkeit von Berichten, Budgets und Prognosen.</li>
                                    <li>Sie sind in der Lage, Unstimmigkeiten und Fehler in Daten zu 
                                        erkennen und so kostspielige Fehler bei Finanzoperationen zu 
                                        vermeiden.</li>
                                    <li>Er sorgt für die konsequente Einhaltung der Finanzvorschriften 
                                        und -standards.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1">Finanz</span>
                                    <span class="white-2">Problemlösung</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Er ist in der Lage, finanzielle Herausforderungen zu erkennen und strategische Lösungen zu entwickeln.</li>
                                    <li>Fähigkeit zum kritischen Denken, um Konflikte zu lösen und finanzielle Ergebnisse zu optimieren.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Kontakt</h2>
                <span class="title">Nachricht</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <div class="in-touch">
                    <div>
                        <a href="mailto:gomeskevin.office@gmail.com">
                            <img src="/assets/svg/logos/gmail.svg" alt="Gmail">
                        </a>
                    </div>

                    <div>
                        <a href="https://www.linkedin.com/in/kevin-gpa/" target="_blank">
                            <img src="/assets/svg/logos/linkedin.svg" alt="LinkedIn">
                        </a>
                    </div>
                </div>
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>Nehmen Sie Kontakt</span>
                        <span>mit mir auf</span>
                    </h3>
                    <h5>Verbinden Sie sich mit mir auf meinem Social Media Profil</h5>
                    <p>
                        Ich bin immer offen für Gespräche über neue Möglichkeiten, Kooperationen oder Fragen, 
                        die Sie haben. Egal, ob Sie daran interessiert sind, mit mir über Finanzprojekte zu 
                        sprechen, mich möglicherweise zu engagieren oder einfach nur ein Gespräch führen möchten, 
                        melden Sie sich einfach bei mir. Wählen Sie entweder Gmail oder LinkedIn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../partials/footer-de.ejs") %>