<%- include("../partials/header-en.ejs") %>

<%- include("../partials/navbar-en.ejs") %>

<section id="hero">
    <div class="wrapper">
        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/portrait-cv.png" alt="Portait Image">
            </div>
    
            <div class="container center">
                <div class="text">
                    <h1>
                        <span>Aspiring</span>
                        <span>Business</span>
                        <span>Professional</span>
                    </h1>
                    <h5>High School Graduate in Commerce and Administration</h5>
                    <p>
                    My name is Kevin Gomes Pardal Antunes and I recently graduated from the high school "Lycée 
                    Technique d'Ettelbruck" with a focus on Commerce and Administration.
                    </p>
                    <a class="normal-link" href="/check-en">Download CV<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section id="goal">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Professional Goal</h2>
                <span class="title">Summary</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/wall-street-plates.png" alt="wall street plate">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>I aspire to</span>
                        <span>succeed in the</span>
                        <span>financial sector</span>
                    </h3>
                    <h5>Numbers and economic fields are something I am passionate about</h5>
                    <p>
                        Aspiring finance and accounting professional pursuing online 
                        bachelor's and master's degrees, with a focus on financial markets 
                        and stock-related sectors. Proficient in data analysis, financial management, 
                        and accounting software, with a passion for leveraging numbers to drive 
                        business growth. Fluent in five languages, with great problem-solving and organizational skills.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="education">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Education</h2>
                <span class="title">Specialty</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/library.png" alt="pile of books">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>Lifelong learning</span>
                        <span>is essential to</span>
                        <span>succeed nowadays</span>
                    </h3>
                    <h5>In the constantly evolving job market, it's vital</h5>
                    <p>
                        From an early age, I've been captivated by the intricacies of finance and economics. My 
                        high school education has given me a strong foundation in financial principles and 
                        business management. I have a passion for finance, investment, and entrepreneurship, I am excited to contribute my skills 
                        and enthusiasm to a forward-thinking financial team.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Certifications</h4>
                    <span class="title-1">Awards</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">1GCC | Élève méritant 2023/24</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and exemplary behavior
                        </p>

                        <a href="/assets/pdf/1GCC-élève-méritant.pdf" class="normal-link" target="_blank">
                            1GCC-élève-méritant.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">CNPSES & Chambre de Commerce</span>
                        <span class="white-2">Academic Performance Certificate (GCC) 2024</span>
                        <p>
                            Award for outstanding performance in Accounting, Business Economics & Political
                             Economy which is awarded to only 40 Students in Luxembourg each year
                        </p>

                        <a href="/assets/pdf/CNPSES-certificat-GCC.pdf" class="normal-link" target="_blank">
                            CNPSES-Certificat-GCC.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">2GCC | Élève méritant 2022/23</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and exemplary behavior
                        </p>

                        <a href="/assets/pdf/2GCC-élève-méritant.pdf" class="normal-link" target="_blank">
                            2GCC-élève-méritant.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">Trendiction SA | Job Shadow Event 2024</span>
                        <p>
                            A voluntary event for students to visit a company for one day to gain entrepreneurship and career guidance
                        </p>

                        <a href="/assets/pdf/Trendiction-SA-Job-Shadow-Day.pdf" class="normal-link" target="_blank">
                            Trendiction-SA-Job-Shadow-Day.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">Aktiv Plang | Project 'Study' 2022/23</span>
                        <p>
                            Rewarded to students for their regular use of the library, a quiet place to do homework and research
                        </p>

                        <a href="/assets/pdf/Aktiv-Plang-2023.pdf" class="normal-link" target="_blank">
                            Aktiv-Plang-2023.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">CLIK Marketing | Mini-Entreprise 2023</span>
                        <p>
                            A program that allowed Luxembourgish high school students to run a small company for a year, developing their entrepreneurial spirit and skills
                        </p>

                        <a href="/assets/pdf/Mini-Entreprise-CLIK-2023.pdf" class="normal-link" target="_blank">
                            Mini-Entreprise-CLIK-2023.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Institution</h4>
                    <span class="title-1">High School</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <img class="logo-svg" src="/assets/svg/logos/ltett-logo.svg" alt="Ltett logo">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">Division of Commerce and Administration</span>
                        <span class="white-3">4GCM, 3GCM, 2GCC & 1GCC</span>
                        <a href="https://www.ltett.lu/index.php/offre-scolaire/economie/" class="normal-link" target="_blank">www.ltett.lu<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                        <p>
                            <b>Graduated:</b> 6 July 2024
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion">
                            <div class="accordion-item">
                                <span class="gray-1">Relevant Coursework</span>
                                <button class="accordion-header" aria-expanded="false">
                                    <div class="accordion-container">
                                        <span class="white-2">Business Economics</span>
                                    </div>
    
                                    <div class="accordion-container">
                                        <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                    </div>
                                </button>

                                <div class="accordion-content" hidden>
                                    The “business economics” course encourages pupils to understand and 
                                    interpret the economic, legal, fiscal, financial, and social choices 
                                    companies make, and to subject them to critical consideration. Pupils
                                     are prepared to make decisions themselves on the assets of natural 
                                     and legal persons, taking into account legal, economic, fiscal, 
                                     financial, and social aspects.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    <div class="accordion-container">
                                        <span class="white-2">Political Economy</span>
                                    </div>
    
                                    <div class="accordion-container">
                                        <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                    </div>
                                </button>

                                <div class="accordion-content" hidden>
                                    The course on “political economy” encourages pupils to recognize and use 
                                    economic language to explain economic mechanisms, issues, and contemporary 
                                    problems from the viewpoint of various economic stakeholders.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    <div class="accordion-container">
                                        <span class="white-2">Accountancy</span>
                                    </div>
    
                                    <div class="accordion-container">
                                        <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                    </div>
                                </button>

                                <div class="accordion-content" hidden>
                                    The “accounting” course encourages pupils to acquire the essential rules 
                                    governing accounting techniques, enabling them to compile, audit, and 
                                    check a company's accounts.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-title">
                    <h4>Leisure</h4>
                    <span class="title-1">Hobbies</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Since 2024</span>
                        <span class="white-2">Photo Editing</span>
                        <p>
                            I enjoy transforming moments into visual stories through meticulous photo editing.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2023</span>
                        <span class="white-2">Web Development</span>
                        <p>
                            Creating seamless digital experiences through coding has become one of my passions.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2022</span>
                        <span class="white-2">Physical Exercise</span>
                        <p>
                            Maintaining a healthy body and mind through regular physical exercise fuels my daily energy.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2018</span>
                        <span class="white-2">Graphic Design</span>
                        <p>
                            Crafting compelling visuals that communicate ideas effectively is where my creativity thrives.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="experience">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Experience</h2>
                <span class="title">Overview</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/pocket-watch.png" alt="pocket watch">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>Leveraging internships</span>
                        <span>to develop versatile</span>
                        <span>skills across sectors</span>
                    </h3>
                    <h5>Building a strong foundation across diverse industries</h5>
                    <p>
                        As a recent graduate, I've gained valuable skills through internships in diverse 
                        industries. At a marble production company, I enhanced my organizational and 
                        customer service abilities by assisting with sales and streamlining administrative 
                        tasks. My pharmacy internship further developed my attention to detail and inventory 
                        management skills. These experiences have given me a solid foundation in organization 
                        and customer service, which I'm eager to apply in the finance industry.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>March</h4>
                    <span class="title-1">2017</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <img class="logo-svg" src="/assets/svg/logos/lampertz-stone-designer-logo.svg" alt="Lampertz Logo">
                        <span class="gray-1">Informational Internship</span>
                        <span class="white-2">Lampertz Stone Designer</span>
                        <p>
                            Marble Manufacturer
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="white-2">More information</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                During my commerce studies, I interned at a marble stone fabricator, 
                                gaining comprehensive knowledge of the marble industry. I assisted with sales 
                                by interacting with customers, understanding their needs, and helping 
                                them choose suitable marble products. Additionally, I observed the 
                                installation process, learning about the technical and logistical aspects. 
                                This experience deepened my understanding of various marble types, their 
                                applications, and the craftsmanship involved, while also enhancing my 
                                customer service and product selection skills.
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <ul class="exp-ul">
                            <li>Acquired comprehensive knowledge about the marble industry</li>
                            <li>Assisted with sales. Observed sales experts interacting with customers, 
                                understanding their needs, and  how they helped them choose suitable 
                                marble products</li>
                            <li>Observed the installation process, gaining insights into technical 
                                and logistical aspects of marble installation</li>
                            <li>Developed better understanding of customer service and product selection</li>
                            <li>Organized documents and files to improve efficiency in administration</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>November</h4>
                    <span class="title-1">2016</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <img class="logo-svg" src="/assets/svg/logos/pharmacie-hosingen-logo.svg" alt="Pharmacie Hosingen Logo">
                        <span class="gray-1">Practical Internship</span>
                        <span class="white-2">Pharmacie de Hosingen</span>
                        <p>
                            Pharmacy
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="white-2">More information</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                During my commerce studies, I interned at a local pharmacy, gaining 
                                invaluable hands-on experience. I was actively involved in daily operations, 
                                particularly in inventory management, ensuring medications and supplies were 
                                stocked and organized. This included conducting inventory checks, managing 
                                stock levels, and reordering products as needed. I also supported the pharmacy 
                                staff in maintaining records and organizing storage areas. This experience 
                                enhanced my understanding of inventory control processes, improved my organizational 
                                skills, and provided insights into pharmacy operations.
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <ul class="exp-ul">
                            <li>Assisted with inventory management, ensured that medications and supplies 
                                were adequately stocked and organized</li>
                            <li>Conducted regular inventory checks, managing stock levels and helped reorder products as needed</li>
                            <li>Supported pharmacy staff in maintaining accurate records. Developed a keen understanding of inventory control processes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Skills</h2>
                <span class="title">Industry</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/rubics-cube.png" alt="rubics cube">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>Core competencies</span>
                        <span>relevant to the</span>
                        <span>financial sector</span>
                    </h3>

                    <h5>Key Skills for Financial Analysis and Business Success</h5>

                    <p>
                        My educational journey has equipped me with crucial hard skills essential for 
                        success in the financial sector. I have developed strong analytical abilities 
                        that allow me to approach problems with a logical, data-driven mindset. I excel 
                        in financial analysis, data interpretation, and precise report writing, ensuring 
                        clarity and accuracy in communication. Additionally, I am proficient in key financial 
                        software and tools.
                    </p>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="white-2">Skill Level Assessment</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>A1 (Basic): Beginner level with fundamental knowledge or skill</li>
                                    <li>A2 (Basic+): Can perform simple tasks with guidance</li>
                                    <li>B1 (Intermediate): Competent in everyday tasks with some independence</li>
                                    <li>B2 (Intermediate+): Proficient in more complex tasks with autonomy</li>
                                    <li>C1 (Advanced): Expert-level with deep understanding and ability to innovate or solve complex problems</li>
                                    <li>C2 (Mastery): Thought leader or recognized expert, capable of mentoring others and leading in the field</li>
                                </ul>

                                <p>For languages:</p>
                                <a class="normal-link" href="https://cefr.eu/" target="_blank">www.cefr.eu<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Academic</h4>
                    <span class="title-1">Skills</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Advanced</div>
                                    <span class="white-2">Business Economics</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Solid understanding of the economic, legal, fiscal, financial, and social decisions made by businesses.</li>
                                    <li>Ability to critically assess business decisions, applicable in financial analysis, investment strategies, and business consulting.</li>
                                    <li>Informed decision-making on asset management, considering legal and economic implications.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.microsoft365.com/" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Mircosoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Advanced</div>
                                    <span class="white-2">Political Economy</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Proficient in recognizing and explaining economic mechanisms and issues from various stakeholders' perspectives.</li>
                                    <li>Skills in analyzing contemporary economic problems, valuable for economic research, policy analysis, and financial advising.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Advanced</div>
                                    <span class="white-2">Accountancy</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Knowledge of essential accounting rules and techniques, enabling the compilation, auditing, and verification of financial statements.</li>
                                    <li>Ability to manage and interpret financial data, supporting roles in auditing, financial analysis, and bookkeeping.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.sage.com/en-us/sage-business-cloud/intacct/" target="_blank">
                                            <img src="/assets/svg/logos/sage-bob.svg" alt="Sage Bob Expert">
                                        </a>
                                        
                                        <span class="tooltiptext">Sage Bob Expert</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>B2</b> Intermediate +</div>
                                    <span class="white-2">Professional Communication & Human Relations</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Expertise in drafting and formatting various types of commercial letters, proposals, and reports using MS Word, ensuring professionalism in all business correspondence.</li>
                                    <li>Developed strong written communication skills tailored to business contexts, essential for client communications, formal correspondence, and internal documentation.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Html 5">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>B1</b> Intermediate</div>
                                    <span class="white-2">Organization & Office Management</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Proficient in organizational and management techniques, leveraging technological resources to enhance productivity.</li>
                                    <li>Skilled in coordinating and assisting with organizational tasks, valuable for project management, office administration, and operational efficiency in financial settings.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.microsoft365.com/" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Mircosoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Advanced</div>
                                    <span class="white-2">Information & Communication Technologies</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Expertise in the functioning of software that manages and communicates organizational data, essential for financial IT roles and data management.</li>
                                    <li>Prepared for the digital aspects of working life, with skills applicable to managing financial databases, cybersecurity, and digital communication.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.microsoft365.com/" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Mircosoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Advanced</div>
                                    <span class="white-2">Knowledge of the Contemporary World</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Broad understanding of contemporary global issues, including recent history, geopolitics, and socio-economic trends.</li>
                                    <li>Developed critical thinking skills to assess and respond to global economic events, a valuable asset for roles in global finance, investment, and policy advisory.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-title">
                    <h4>Language</h4>
                    <span class="title-1">Skills</span>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>C2</b> Proficient</div>
                                <span class="white-2">Luxembourgish</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>C2 skill level in Luxembourgish, reflecting near-native fluency and understanding.</li>
                                <li>Grew up with this language, which was not part of the formal high school curriculum, enhancing the ability to engage with Luxembourgish-speaking stakeholders and communities in the financial sector.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>C2</b> Proficient</div>
                                <span class="white-2">German</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Developed language and communication skills for use in academic, professional, and social contexts.</li>
                                <li>Cultivated an appreciation for the aesthetics of the German language and literature, supporting roles that require bilingual communication or cultural sensitivity in German-speaking markets.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>C1</b> Advanced</div>
                                <span class="white-2">English</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Achieved proficiency in English, sufficient for integration into professional environments and higher education.</li>
                                <li>Developed intercultural communication skills, critical for engaging with international clients, partners, and stakeholders in the financial sector.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>B2</b> Upper Intermediate</div>
                                <span class="white-2">French</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Acquired linguistic resources and cross-disciplinary skills in French, applicable to working life and further studies.</li>
                                <li>Gained knowledge of the French-speaking world, valuable for roles involving French-speaking markets, clients, or international operations.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>B2</b> Upper Intermediate</div>
                                <span class="white-2">Portuguese</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Native speaker with a B2 skill level according to the CEFR, capable of expressing opinions and arguments effectively.</li>
                                <li>While not studied in high school, this proficiency supports communication with Portuguese-speaking clients and markets in the financial sector.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Technical</h4>
                    <span class="title-1">Skills</span>
                </div>
                
                <div class="column-list">
                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>C1</b> Advanced</span>
                                    <span class="white-2">Business Management Tools</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Extensive experience with MS Office 365 applications, particularly Excel, Access, and Word, critical for financial modeling, data management, and document preparation.</li>
                                    <li>Ability to create complex spreadsheets, manage databases, and produce professional documents that support financial operations and decision-making.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B1</b> Intermediate</span>
                                    <span class="white-2">Web Development</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Developed static websites and basic web applications, emphasizing both functionality and aesthetically pleasing designs.</li>
                                    <li>Applied knowledge of user experience (UX) principles to create intuitive interfaces, potentially valuable for creating client portals or internal financial dashboards.</li>
                                    <li>Familiar with HTML, CSS, and JavaScript, enabling the development of web tools that can streamline financial operations or client interactions.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/tech-stack/html-5.svg" alt="Html 5">
                                        </a>
                                        
                                        <span class="tooltiptext">HTML</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
                                            <img src="/assets/svg/tech-stack/css-3.svg" alt="Css 3">
                                        </a>
                                        
                                        <span class="tooltiptext">CSS</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                                            <img src="/assets/svg/tech-stack/javascript.svg" alt="Javascript">
                                        </a>
                                        
                                        <span class="tooltiptext">Javascript</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://jquery.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/jquery.svg" alt="jQuery">
                                        </a>
                                        
                                        <span class="tooltiptext">jQuery</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://gsap.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/gsap.svg" alt="GreenSock">
                                        </a>
                                        
                                        <span class="tooltiptext">GSAP</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://threejs.org/" target="_blank">
                                            <img src="/assets/svg/tech-stack/three-js.svg" alt="Three.js">
                                        </a>
                                        
                                        <span class="tooltiptext">Three.js</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://getbootstrap.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/bootstrap.svg" alt="Bootstrap">
                                        </a>
                                        
                                        <span class="tooltiptext">Bootstrap</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://tailwindui.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/tailwind-css.svg" alt="Tailwind CSS">
                                        </a>
                                        
                                        <span class="tooltiptext">Tailwind CSS</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://www.npmjs.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/npm.svg" alt="NPM">
                                        </a>
                                        
                                        <span class="tooltiptext">NPM</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://nodejs.org/en" target="_blank">
                                            <img src="/assets/svg/tech-stack/node-js.svg" alt="Node.js">
                                        </a>
                                        
                                        <span class="tooltiptext">Node.js</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://expressjs.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/express-js.svg" alt="Express.js">
                                        </a>
                                        
                                        <span class="tooltiptext">Express.js</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://ejs.co/" target="_blank">
                                            <img src="/assets/svg/tech-stack/ejs.svg" alt="EJS">
                                        </a>
                                        
                                        <span class="tooltiptext">EJS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>C1</b> Advanced</span>
                                    <span class="white-2">Data Analysis</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Acquired basic knowledge of data analysis tools and techniques, including Excel and other statistical software.</li>
                                    <li>Capable of deriving actionable insights from data, which is crucial for financial analysis, risk assessment, and decision-making.</li>
                                    <li>Exposure to basic data visualization techniques, facilitating the presentation of financial data in clear, impactful ways for stakeholders</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>C1</b> Advanced</span>
                                    <span class="white-2">Database Management</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Experience with database management systems, enabling efficient organization and retrieval of financial data.</li>
                                    <li>Knowledgeable in structuring databases to support financial reporting, client relationship management (CRM) systems, and inventory control.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B2</b> Intermediate +</span>
                                    <span class="white-2">Digital Communication Tools</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Proficient in using tools like email, messaging apps, and virtual collaboration platforms to facilitate smooth and efficient communication.</li>
                                    <li>Experienced in managing digital correspondence and coordinating virtual meetings, ensuring effective communication with clients and team members across different locations.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B2</b> Intermediate +</span>
                                    <span class="white-2">Graphic Design</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Proficient in using professional graphic design software to create visually appealing presentations and marketing materials.</li>
                                    <li>Able to design financial reports, brochures, and pitch decks that are both informative and visually engaging, enhancing communication with clients and investors.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://affinity.serif.com/en-us/designer/" target="_blank">
                                            <img src="/assets/svg/logos/designer-icon.svg" alt="Affinity Designer">
                                        </a>
                                        
                                        <span class="tooltiptext">Affinity Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B1</b> Intermediate</span>
                                    <span class="white-2">Photo Editing</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Basic photo editing skills using Affinity Photo, suitable for enhancing visual content for reports, presentations, and marketing materials.</li>
                                    <li>Able to make simple adjustments, such as cropping, color correction, and layering, to improve the visual appeal of financial documents and online content.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://affinity.serif.com/en-us/photo/" target="_blank">
                                            <img src="/assets/svg/logos/photo-icon.svg" alt="Affinity Photo">
                                        </a>
                                        
                                        <span class="tooltiptext">Affinity Photo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B2</b> Intermediate +</span>
                                    <span class="white-2">Desktop Publishing</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Proficient in using Affinity Publisher for creating and designing professional documents, such as brochures, reports, and marketing materials.</li>
                                    <li>Skilled in layout design, typography, and document formatting, ensuring high-quality presentations and publications for financial and business purposes.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://affinity.serif.com/en-us/publisher/" target="_blank">
                                            <img src="/assets/svg/logos/publisher-icon.svg" alt="Affinity Publisher">
                                        </a>
                                        
                                        <span class="tooltiptext">Affinity Publisher</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>A1</b> Basic</span>
                                    <span class="white-2">Video Editing</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Familiar with basic video editing techniques using DaVinci Resolve, applicable for creating and editing marketing content, corporate videos, or presentations within financial institutions.</li>
                                    <li>Capable of performing simple video tasks, such as trimming, transitions, and basic color correction, which can be useful in producing professional-quality visual content for client presentations and promotional materials.</li>
                                </ul>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.blackmagicdesign.com/products/davinciresolve" target="_blank">
                                            <img src="/assets/svg/logos/davinci.svg" alt="Affinity Designer">
                                        </a>
                                        
                                        <span class="tooltiptext">DaVinci Resolve</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-title">
                    <h4>Soft</h4>
                    <span class="title-1">Skills</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1">Finance</span>
                                    <span class="white-2">Analytical Thinking</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Ability to dissect complex financial data and extract meaningful insights.</li>
                                    <li>Skilled in identifying trends, patterns, and potential risks, leading to informed decision-making</li>
                                    <li>Proficient in evaluating investment opportunities and assessing financial health.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1">Finance</span>
                                    <span class="white-2">Attention to Detail</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Meticulous in reviewing financial documents, ensuring accuracy in reports, budgets, and forecasts.</li>
                                    <li>Capable of detecting discrepancies and errors in data, preventing costly mistakes in financial operations.</li>
                                    <li>Consistently ensures compliance with financial regulations and standards.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1">Finance</span>
                                    <span class="white-2">Problem-Solving</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Adept at identifying financial challenges and developing strategic solutions.</li>
                                    <li>Skilled in applying critical thinking to resolve conflicts and optimize financial outcomes.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Contact</h2>
                <span class="title">Message</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <div class="in-touch">
                    <div>
                        <a href="mailto:gomeskevin.office@gmail.com">
                            <img src="/assets/svg/logos/gmail.svg" alt="Gmail">
                        </a>
                    </div>

                    <div>
                        <a href="https://www.linkedin.com/in/kevin-gpa/" target="_blank">
                            <img src="/assets/svg/logos/linkedin.svg" alt="LinkedIn">
                        </a>
                    </div>
                </div>
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>Get in touch</span>
                        <span>with me</span>
                    </h3>
                    <h5>Connect with me on my social media profile</h5>
                    <p>
                        I'm always open to discussing new opportunities, collaborations, or any questions you may 
                        have. Whether you're interested in connecting about financial projects, potentially hiring me, or 
                        just want to have a conversation, feel free to reach out. Select either Gmail or LinkedIn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../partials/footer-en.ejs") %>