<%- include("../partials/header-fr.ejs") %>

<%- include("../partials/navbar-fr.ejs") %>

<section id="hero">
    <div class="wrapper">
        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/portrait-cv.png" alt="Portait Image">
            </div>
    
            <div class="container center">
                <div class="text">
                    <h1>
                        <span>Aspirant</span>
                        <span>Professionnel du</span>
                        <span>Monde des Affaires</span>
                    </h1>
                    <h5>Diplôme d'études secondaires en commerce et administration</h5>
                    <p>
                        Je m'appelle Kevin Gomes Pardal Antunes et j'ai récemment obtenu mon diplôme au Lycée technique d'Ettelbruck, avec une spécialisation en commerce et en administration.
                    </p>
                    <a class="normal-link" href="/check-fr">Télécharger CV<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section id="goal">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Objectif professionnel</h2>
                <span class="title">Résumé</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/wall-street-plates.png" alt="wall street plate">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>J'aspire à</span>
                        <span>réussir dans le</span>
                        <span>secteur financier</span>
                    </h3>
                    <h5>Les chiffres et les domaines économiques me passionnent.</h5>
                    <p>
                        Aspirant à devenir un professionnel de la finance et de la comptabilité 
                        poursuivant des études de licence et de master en ligne, avec un intérêt 
                        particulier pour les marchés financiers et les secteurs liés aux actions. 
                        Maîtrise de l'analyse des données, de la gestion financière et des logiciels 
                        de comptabilité, et les logiciels de comptabilité, avec une passion pour 
                        l'utilisation des chiffres pour croissance de l'entreprise. Je parle 
                        couramment cinq langues et possède d'excellentes compétences en matière 
                        de résolution de problèmes et d'organisation.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Parcours de formation</h4>
                    <span class="title-1">Plan</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">IU Hochschule</span>
                                <span class="white-2">Bachelor Degree | Finance</span>
                                <p>
                                    Spécialisé dans la comptabilité, l'analyse financière et le contrôle de 
                                    gestion, avec une base solide en finance globale et en administration 
                                    des affaires.
                                </p>
                                <a class="normal-link" href="https://www.hochschulkompass.de/home.html" target="_blank">www.hochschulkompass.de<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">IU Hochschule</span>
                                <span class="white-2">Master Degree | Finance</span>
                                <p>
                                    Passionné par le développement de mon expertise dans le domaine de la finance 
                                    mondiale, j'ai l'intention d'obtenir un master axé sur la gestion financière 
                                    stratégique et l'analyse des investissements.
                                </p>
                                <a class="normal-link" href="https://www.hochschulkompass.de/home.html" target="_blank">www.hochschulkompass.de<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">CFA Institute</span>
                                <span class="white-2">Chartered Financial Analyst</span>
                                <p>
                                    A program that is a postgraduate professional certification offered internationally 
                                    by the US-based CFA Institute to investment and financial professionals.
                                </p>
                                <a class="normal-link" href="https://www.cfainstitute.org/en/" target="_blank">www.cfainsitute.org<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Poste de travail</h4>
                    <span class="title-1">Plan</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Débutant</span>
                                <span class="white-2">Comptable</span>
                                <p>
                                    Commençant ma carrière en tant que comptable débutant, je suis impatient 
                                    d'acquérir une base solide en gestion financière, en principes comptables 
                                    et en conformité.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Niveau Intermédiaire</span>
                                <span class="white-2">Associé de Banque</span>
                                <p>
                                    Je suis motivé pour exceller en tant qu'employé de banque, en mettant 
                                    à profit ma licence en finance pour aider les clients à obtenir des services 
                                    financiers, gérer les transactions et contribuer à la croissance de la 
                                    banque grâce à un service à la clientèle exceptionnel et à une 
                                    expertise financière.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Niveau Supérieur</span>
                                <span class="white-2">Banquier d'Affaires</span>
                                <p>
                                    En m'appuyant sur mes études supérieures en finance, mon ambition ultime est de devenir 
                                    banquier d'affaires. J'aspire à diriger des transactions financières à fort enjeu, notamment 
                                    des fusions et acquisitions, des levées de fonds, et des services de conseil stratégique.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="education">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Éducation</h2>
                <span class="title">Spécialité</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/library.png" alt="pile of books">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>L'apprentissage tout</span>
                        <span>au long de la vie est essentiel</span>
                        <span>pour réussir de nos jours</span>
                    </h3>
                    <h5>Sur un marché de l'emploi en constante évolution, il est essentiel</h5>
                    <p>
                        Dès mon plus jeune âge, j'ai été captivé par les subtilités de la finance 
                        et de l'économie. Mes études secondaires m'ont permis d'acquérir des bases 
                        solides en matière de principes financiers et de gestion d'entreprise. 
                        Passionné par la finance, l'investissement et l'esprit d'entreprise, je 
                        suis impatient de mettre mes compétences et mon enthousiasme au service 
                        d'une équipe financière tournée vers l'avenir.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Certifications</h4>
                    <span class="title-1">Récompenses</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">1GCC | Élève méritant 2023/24</span>
                        <p>
                            Une distinction décernée aux étudiants ayant obtenu 
                            des notes exceptionnelles et ayant eu un comportement 
                            exemplaire aux examens
                        </p>

                        <a href="/assets/pdf/1GCC-élève-méritant.pdf" class="normal-link" target="_blank">
                            1GCC-élève-méritant.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">CNPSES & Chambre de Commerce</span>
                        <span class="white-2">Academic Performance Certificate (GCC) 2024</span>
                        <p>
                            Prix récompensant des performances exceptionnelles en comptabilité, 
                            en économie d'entreprise et en économie politique, décerné chaque année 
                            à seulement 40 étudiants au Luxembourg
                        </p>

                        <a href="/assets/pdf/CNPSES-certificat-GCC.pdf" class="normal-link" target="_blank">
                            CNPSES-Certificat-GCC.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">2GCC | Élève méritant 2022/23</span>
                        <p>
                            Une distinction décernée aux étudiants ayant obtenu 
                            des notes exceptionnelles et ayant eu un comportement 
                            exemplaire aux examens
                        </p>

                        <a href="/assets/pdf/2GCC-élève-méritant.pdf" class="normal-link" target="_blank">
                            2GCC-élève-méritant.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">Trendiction SA | Job Shadow Event 2024</span>
                        <p>
                            Un événement volontaire permettant aux étudiants de visiter une entreprise 
                            pendant une journée afin de bénéficier d'une orientation en matière d'entrepreneuriat 
                            et de carrière
                        </p>

                        <a href="/assets/pdf/Trendiction-SA-Job-Shadow-Day.pdf" class="normal-link" target="_blank">
                            Trendiction-SA-Job-Shadow-Day.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">Aktiv Plang | Projet « Étude » 2022/23</span>
                        <p>
                            Récompense les étudiants pour leur utilisation régulière de la bibliothèque, 
                            un endroit calme pour faire ses devoirs et ses recherches
                        </p>

                        <a href="/assets/pdf/Aktiv-Plang-2023.pdf" class="normal-link" target="_blank">
                            Aktiv-Plang-2023.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">CLIK Marketing | Mini-Entreprise 2023</span>
                        <p>
                            Un programme qui a permis à des lycéens luxembourgeois de gérer une 
                            petite entreprise pendant un an, développant ainsi leur esprit d'entreprise 
                            et leurs compétences
                        </p>

                        <a href="/assets/pdf/Mini-Entreprise-CLIK-2023.pdf" class="normal-link" target="_blank">
                            Mini-Entreprise-CLIK-2023.pdf<img src="/assets/svg/logos/link.svg" alt="link symbol">
                        </a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Institution</h4>
                    <span class="title-1">Lycée</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <img class="logo-svg" src="/assets/svg/logos/ltett-logo.svg" alt="Ltett logo">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">Division du commerce et de l'administration</span>
                        <span class="white-3">4GCM, 3GCM, 2GCC & 1GCC</span>
                        <a href="https://www.ltett.lu/index.php/offre-scolaire/economie/" class="normal-link" target="_blank">www.ltett.lu<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                        <p>
                            <b>Diplomé:</b> 6 juillet 2024
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion">
                            <div class="accordion-item">
                                <span class="gray-1">Cours pertinents</span>
                                <button class="accordion-header" aria-expanded="false">
                                    <div class="accordion-container">
                                        <span class="white-2">Économie de Gestion</span>
                                    </div>
    
                                    <div class="accordion-container">
                                        <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                    </div>
                                </button>

                                <div class="accordion-content" hidden>
                                    Le cours « économie d'entreprise » encourage les élèves à comprendre et à interpréter 
                                    les choix économiques, juridiques, fiscaux, financiers et sociaux des entreprises et 
                                    à les soumettre à un examen critique. Les élèves sont préparés à prendre eux-mêmes des 
                                    décisions sur le patrimoine des personnes physiques et morales en tenant compte des 
                                    aspects juridiques, économiques, fiscaux, financiers et sociaux.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    <div class="accordion-container">
                                        <span class="white-2">Économe Politique</span>
                                    </div>
    
                                    <div class="accordion-container">
                                        <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                    </div>
                                </button>

                                <div class="accordion-content" hidden>
                                    Le cours d'« économie politique » encourage les élèves à reconnaître et à utiliser le 
                                    langage économique pour expliquer les mécanismes économiques, les questions et les 
                                    problèmes contemporains du point de vue des différents acteurs économiques.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    <div class="accordion-container">
                                        <span class="white-2">Comptabilité</span>
                                    </div>
    
                                    <div class="accordion-container">
                                        <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                    </div>
                                </button>

                                <div class="accordion-content" hidden>
                                    Le cours de « comptabilité » permet aux élèves d'acquérir les règles essentielles techniques 
                                    comptables, leur permettant d'établir, d'auditer et de contrôler les de contrôler les 
                                    comptes d'une entreprise.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-title">
                    <h4>Loisirs</h4>
                    <span class="title-1">Passe-temps</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Depuis 2024</span>
                        <span class="white-2">Édition de photos</span>
                        <p>
                            J'aime transformer des moments en histoires visuelles grâce 
                            à un montage photo méticuleux.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Depuis 2023</span>
                        <span class="white-2">Développement Web</span>
                        <p>
                            Créer des expériences numériques transparentes 
                            grâce au codage est devenu l'une de mes passions.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Depuis 2022</span>
                        <span class="white-2">Exercise Physique</span>
                        <p>
                            Le maintien d'un corps et d'un esprit sains grâce à un exercice physique 
                            régulier alimente mon énergie quotidienne.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Depuis 2018</span>
                        <span class="white-2">Design Graphique</span>
                        <p>
                            Ma créativité s'épanouit dans la création de visuels convaincants qui 
                            communiquent efficacement des idées.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="experience">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Expérience</h2>
                <span class="title">Vue d'ensemble</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/pocket-watch.png" alt="pocket watch">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        Tirer parti des stages pour développer des compétences polyvalentes dans différents secteurs
                    </h3>
                    <h5>Construire une base solide dans divers secteurs d'activité</h5>
                    <p>
                        En tant que jeune diplômée, j'ai acquis des compétences précieuses grâce à des stages dans divers 
                        secteurs. Dans une société de production de marbre, j'ai amélioré mes capacités d'organisation 
                        et de service à la clientèle en aidant aux ventes et en rationalisant les tâches administratives. 
                        Mon stage en pharmacie m'a permis de développer mon sens du détail et mes compétences en matière 
                        de gestion des stocks. de gestion des stocks. Ces expériences m'ont donné des bases solides en 
                        matière d'organisation et de service à la clientèle.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Mars</h4>
                    <span class="title-1">2017</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <img class="logo-svg" src="/assets/svg/logos/lampertz-stone-designer-logo.svg" alt="Lampertz Logo">
                        <span class="gray-1">Stage informatif</span>
                        <span class="white-2">Lampertz Stone Designer</span>
                        <p>
                            Fabricant de marbre
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="white-2">Plus d'informations</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                Au cours de mes études de commerce, j'ai effectué un stage chez un fabricant de marbre, ce qui 
                                m'a permis d'acquérir une connaissance approfondie de l'industrie du marbre. J'ai participé aux ventes 
                                en interagissant avec les clients, en comprenant leurs besoins et en les aidant à choisir les produits 
                                en marbre appropriés. De plus, j'ai observé le processus d'installation, en me renseignant sur les 
                                aspects techniques et logistiques. Cette expérience a approfondi ma compréhension des différents 
                                types de marbre, de leurs applications et du savoir-faire impliqué, tout en améliorant mes compétences 
                                en matière de service à la clientèle et de sélection de produits.
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <ul class="exp-ul">
                            <li>Acquérir une connaissance approfondie de l'industrie du marbre</li>
                            <li>J'ai aidé aux ventes. J'ai observé les experts en vente interagir avec les clients, comprendre leurs besoins et comment ils les ont aidés à choisir des produits en marbre adaptés.</li>
                            <li>J'ai observé le processus d'installation, ce qui m'a permis d'acquérir des connaissances sur les aspects techniques et logistiques de l'installation du marbre.</li>
                            <li>Développé une meilleure compréhension du service client et de la sélection des produits</li>
                            <li>Documents et dossiers organisés pour améliorer l'efficacité de l'administration</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Novembre</h4>
                    <span class="title-1">2016</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <img class="logo-svg" src="/assets/svg/logos/pharmacie-hosingen-logo.svg" alt="Pharmacie Hosingen Logo">
                        <span class="gray-1">Stage pratique</span>
                        <span class="white-2">Pharmacie de Hosingen</span>
                        <p>
                            Pharmacie
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="white-2">Plus d'informations</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                Pendant mes études de commerce, j'ai effectué un stage dans une pharmacie locale, ce qui m'a 
                                permis d'acquérir une expérience pratique inestimable. J'ai participé activement aux opérations 
                                quotidiennes, notamment à la gestion des stocks, en veillant à ce que les médicaments et les 
                                fournitures soient stockés et organisés. Cela incluait la réalisation de contrôles d'inventaire, 
                                la gestion des niveaux de stock et la réorganisation des produits selon les besoins. J'ai 
                                également aidé le personnel de la pharmacie à tenir des registres et à organiser les zones de 
                                stockage. Cette expérience m'a permis de mieux comprendre les processus de contrôle des stocks, 
                                d'améliorer mes compétences organisationnelles et de mieux comprendre les opérations de la pharmacie.
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <ul class="exp-ul">
                            <li>A aidé à la gestion des stocks, veillé à ce que les médicaments et les fournitures soient correctement approvisionnés et organisés.</li>
                            <li>Effectuer des contrôles d'inventaire réguliers, gérer les niveaux de stock et aider à réorganiser les produits selon les besoins.</li>
                            <li>J'ai aidé le personnel de la pharmacie à tenir des registres précis. J'ai acquis une bonne compréhension des processus de contrôle des stocks.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Compétences</h2>
                <span class="title">Sectorielles</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <img src="/assets/img/rubics-cube.png" alt="rubics cube">
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>Compétences clés</span>
                        <span>pertinentes pour le</span>
                        <span>secteur financier</span>
                    </h3>

                    <h5>Compétences clés pour l'analyse financière et la réussite commerciale</h5>

                    <p>
                        Mon parcours scolaire m'a permis d'acquérir des compétences techniques essentielles 
                        pour réussir dans le secteur financier. J'ai développé de solides capacités d'analyse 
                        qui me permettent d'aborder les problèmes avec un état d'esprit logique et axé sur les 
                        données. J'excelle dans l'analyse financière, l'interprétation des données et la rédaction 
                        de rapports précis, garantissant clarté et exactitude dans la communication. De plus, je 
                        maîtrise les principaux logiciels et outils financiers.
                    </p>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="white-2">Évaluation du niveau de compétence</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>A1 (Basique) : Niveau débutant avec connaissances ou compétences fondamentales</li>
                                    <li>A2 (Basique +) : Peut effectuer des tâches simples avec des conseils</li>
                                    <li>B1 (Intermédiaire) : Compétent dans les tâches quotidiennes avec une certaine indépendance</li>
                                    <li>B2 (Intermédiaire +) : Maîtrise des tâches plus complexes avec autonomie</li>
                                    <li>C1 (Avancé) : Niveau expert avec une compréhension approfondie et la capacité d'innover ou de résoudre des problèmes complexes</li>
                                    <li>C2 (Maîtrise) : Leader d'opinion ou expert reconnu, capable d'encadrer les autres et de diriger dans le domaine</li>
                                </ul>

                                <p>Pour les langues :</p>
                                <a class="normal-link" href="https://cefr.eu/" target="_blank">www.cefr.eu<img src="/assets/svg/logos/link.svg" alt="link symbol"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Compétences</h4>
                    <span class="title-1">Académiques</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Avancé</div>
                                    <span class="white-2">Économie de Gestion</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Solide compréhension des décisions économiques, juridiques, fiscales, financières et sociales prises par les entreprises.</li>
                                    <li>Capacité à évaluer de manière critique les décisions d'affaires, applicable à l'analyse financière, aux stratégies d'investissement et au conseil aux entreprises.</li>
                                    <li>Prise de décision éclairée en matière de gestion d'actifs, tenant compte des implications juridiques et économiques.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.microsoft365.com/" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Mircosoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Avancé</div>
                                    <span class="white-2">Économie Politique</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Compétent dans la reconnaissance et l'explication des mécanismes et des enjeux économiques du point de vue de diverses parties prenantes.</li>
                                    <li>Compétences en analyse des problèmes économiques contemporains, utiles pour la recherche économique, l'analyse des politiques et le conseil financier.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Avancé</div>
                                    <span class="white-2">Comptabilité</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Connaissance des règles et techniques comptables essentielles, permettant l'élaboration, l'audit et la vérification des états financiers.</li>
                                    <li>Capacité à gérer et à interpréter les données financières, rôles de soutien dans l'audit, l'analyse financière et la comptabilité.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.sage.com/en-us/sage-business-cloud/intacct/" target="_blank">
                                            <img src="/assets/svg/logos/sage-bob.svg" alt="Sage Bob Expert">
                                        </a>
                                        
                                        <span class="tooltiptext">Sage Bob Expert</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>B2</b> Intermédiaire +</div>
                                    <span class="white-2">Communication Professionnelle & Relations Humaines</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Expertise dans la rédaction et la mise en forme de divers types de lettres commerciales, de propositions et de rapports à l'aide de MS Word, garantissant le professionnalisme dans toute la correspondance commerciale.</li>
                                    <li>J'ai développé de solides compétences en communication écrite adaptées aux contextes commerciaux, essentielles pour les communications avec les clients, la correspondance formelle et la documentation interne.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Html 5">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>B1</b> Intermédiaire</div>
                                    <span class="white-2">Organisation et Gestion de Bureau</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Maîtrise des techniques d'organisation et de gestion, exploitant les ressources technologiques pour améliorer la productivité.</li>
                                    <li>Compétent dans la coordination et l'assistance aux tâches organisationnelles, précieux pour la gestion de projet, l'administration de bureau et l'efficacité opérationnelle dans les contextes financiers.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.microsoft365.com/" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Mircosoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Avancé</div>
                                    <span class="white-2">Technologies de l'Information et de la Communication</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Expertise dans le fonctionnement des logiciels qui gèrent et communiquent les données organisationnelles, essentielles pour les rôles informatiques financiers et la gestion des données.</li>
                                    <li>Préparé aux aspects numériques de la vie professionnelle, avec des compétences applicables à la gestion des bases de données financières, à la cybersécurité et à la communication numérique.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.microsoft365.com/" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Mircosoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <div class="gray-1"><b>C1</b> Avancé</div>
                                    <span class="white-2">Connaissance du Monde Contemporain</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Large compréhension des enjeux mondiaux contemporains, y compris l'histoire récente, la géopolitique et les tendances socio-économiques.</li>
                                    <li>Développer des compétences de pensée critique pour évaluer et réagir aux événements économiques mondiaux, un atout précieux pour les rôles dans la finance mondiale, l'investissement et le conseil politique.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-title">
                    <h4>Compétences</h4>
                    <span class="title-1">Linguistiques</span>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>C2</b> Maîtrise</div>
                                <span class="white-2">Luxembourgeois</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Niveau de compétence C2 en luxembourgeois, reflétant une maîtrise et une compréhension proches de celles d'une langue maternelle.</li>
                                <li>J'ai grandi avec cette langue, qui ne faisait pas partie du programme officiel du lycée, ce qui a renforcé ma capacité à dialoguer avec les acteurs et les communautés luxembourgeoises du secteur financier.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>C2</b> Maîtrise</div>
                                <span class="white-2">Allemand</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Développer des compétences linguistiques et de communication à utiliser dans des contextes académiques, professionnels et sociaux.</li>
                                <li>J'ai cultivé une appréciation pour l'esthétique de la langue et de la littérature allemandes, en soutenant des rôles qui nécessitent une communication bilingue ou une sensibilité culturelle sur les marchés germanophones.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>C1</b> Avancé</div>
                                <span class="white-2">Anglais</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Maîtrise de l'anglais suffisante pour s'intégrer dans les milieux professionnels et l'enseignement supérieur.</li>
                                <li>Développer des compétences en communication interculturelle, essentielles pour interagir avec les clients, partenaires et parties prenantes internationaux du secteur financier.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>B2</b> Intermédiaire Supérieur</div>
                                <span class="white-2">Français</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Ressources linguistiques acquises et compétences transversales en français, applicables à la vie professionnelle et à la poursuite d'études.</li>
                                <li>J'ai acquis une connaissance du monde francophone, précieuse pour des rôles impliquant des marchés francophones, des clients ou des opérations internationales.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="column-box">
                    <div class="accordion-item">
                        <button class="accordion-header" aria-expanded="false">
                            <div class="accordion-container">
                                <div class="gray-1"><b>B2</b> Intermédiaire Supérieur</div>
                                <span class="white-2">Portugais</span>
                            </div>

                            <div class="accordion-container">
                                <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                            </div>
                        </button>

                        <div class="accordion-content" hidden>
                            <ul class="skills-list">
                                <li>Locuteur natif avec un niveau de compétence B2 selon le CECR, capable d'exprimer efficacement ses opinions et ses arguments.</li>
                                <li>Bien que non étudiée au lycée, cette compétence favorise la communication avec les clients et les marchés lusophones du secteur financier.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Compétences</h4>
                    <span class="title-1">Techniques</span>
                </div>
                
                <div class="column-list">
                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>C1</b> Avancé</span>
                                    <span class="white-2">Outils de Gestion d'Entreprise</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Vaste expérience avec les applications MS Office 365, en particulier Excel, Access et Word, essentielles pour la modélisation financière, la gestion des données et la préparation de documents.</li>
                                    <li>Capacité à créer des feuilles de calcul complexes, à gérer des bases de données et à produire des documents professionnels qui soutiennent les opérations financières et la prise de décision.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B1</b> Intermédiaire</span>
                                    <span class="white-2">Développement Web</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>J'ai développé des sites Web statiques et des applications Web de base, en mettant l'accent à la fois sur la fonctionnalité et sur des conceptions esthétiques.</li>
                                    <li>Connaissances appliquées des principes de l'expérience utilisateur (UX) pour créer des interfaces intuitives, potentiellement utiles pour la création de portails clients ou de tableaux de bord financiers internes.</li>
                                    <li>Familiarité avec HTML, CSS et JavaScript, permettant le développement d'outils Web pouvant rationaliser les opérations financières ou les interactions avec les clients.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/tech-stack/html-5.svg" alt="Html 5">
                                        </a>
                                        
                                        <span class="tooltiptext">HTML</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
                                            <img src="/assets/svg/tech-stack/css-3.svg" alt="Css 3">
                                        </a>
                                        
                                        <span class="tooltiptext">CSS</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                                            <img src="/assets/svg/tech-stack/javascript.svg" alt="Javascript">
                                        </a>
                                        
                                        <span class="tooltiptext">Javascript</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://jquery.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/jquery.svg" alt="jQuery">
                                        </a>
                                        
                                        <span class="tooltiptext">jQuery</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://gsap.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/gsap.svg" alt="GreenSock">
                                        </a>
                                        
                                        <span class="tooltiptext">GSAP</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://threejs.org/" target="_blank">
                                            <img src="/assets/svg/tech-stack/three-js.svg" alt="Three.js">
                                        </a>
                                        
                                        <span class="tooltiptext">Three.js</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://getbootstrap.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/bootstrap.svg" alt="Bootstrap">
                                        </a>
                                        
                                        <span class="tooltiptext">Bootstrap</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://tailwindui.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/tailwind-css.svg" alt="Tailwind CSS">
                                        </a>
                                        
                                        <span class="tooltiptext">Tailwind CSS</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://www.npmjs.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/npm.svg" alt="NPM">
                                        </a>
                                        
                                        <span class="tooltiptext">NPM</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://nodejs.org/en" target="_blank">
                                            <img src="/assets/svg/tech-stack/node-js.svg" alt="Node.js">
                                        </a>
                                        
                                        <span class="tooltiptext">Node.js</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://expressjs.com/" target="_blank">
                                            <img src="/assets/svg/tech-stack/express-js.svg" alt="Express.js">
                                        </a>
                                        
                                        <span class="tooltiptext">Express.js</span>
                                    </div>

                                    <div class="tooltip">
                                        <a href="https://ejs.co/" target="_blank">
                                            <img src="/assets/svg/tech-stack/ejs.svg" alt="EJS">
                                        </a>
                                        
                                        <span class="tooltiptext">EJS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>C1</b> Avancé</span>
                                    <span class="white-2">Analyse de Données</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Acquérir des connaissances de base sur les outils et techniques d'analyse de données, notamment Excel et d'autres logiciels statistiques.</li>
                                    <li>Capable de tirer des informations exploitables des données, ce qui est crucial pour l'analyse financière, l'évaluation des risques et la prise de décision.</li>
                                    <li>Exposition aux techniques de base de visualisation des données, facilitant la présentation des données financières de manière claire et percutante pour les parties prenantes.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>C1</b> Avancé</span>
                                    <span class="white-2">Gestion de Base de Données</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Expérience avec les systèmes de gestion de bases de données, permettant une organisation et une récupération efficaces des données financières.</li>
                                    <li>Connaissances en structuration de bases de données pour soutenir les rapports financiers, les systèmes de gestion de la relation client (CRM) et le contrôle des stocks.</li>
                                </ul>

                                <span class="gray-2">Tech Stack</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B2</b> Intermédiaire +</span>
                                    <span class="white-2">Outils de Communication Numérique</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Maîtrise de l'utilisation d'outils tels que le courrier électronique, les applications de messagerie et les plateformes de collaboration virtuelle pour faciliter une communication fluide et efficace.</li>
                                    <li>Expérience dans la gestion de la correspondance numérique et la coordination de réunions virtuelles, garantissant une communication efficace avec les clients et les membres de l'équipe sur différents sites.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                                            <img src="/assets/svg/logos/ms-office.svg" alt="Microsoft 365">
                                        </a>
                                        
                                        <span class="tooltiptext">Microsoft 365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B2</b> Intermédiaire +</span>
                                    <span class="white-2">Conception Graphique</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Maîtrise de l'utilisation de logiciels de conception graphique professionnels pour créer des présentations et des supports marketing visuellement attrayants.</li>
                                    <li>Capable de concevoir des rapports financiers, des brochures et des pitch decks à la fois informatifs et visuellement attrayants, améliorant la communication avec les clients et les investisseurs.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://affinity.serif.com/en-us/designer/" target="_blank">
                                            <img src="/assets/svg/logos/designer-icon.svg" alt="Affinity Designer">
                                        </a>
                                        
                                        <span class="tooltiptext">Affinity Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B1</b> Intermédiaire</span>
                                    <span class="white-2">Design Graphique</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Compétences de base en retouche photo à l'aide d'Affinity Photo, adaptées à l'amélioration du contenu visuel des rapports, des présentations et des supports marketing.</li>
                                    <li>Capable d'effectuer des ajustements simples, tels que le recadrage, la correction des couleurs et la superposition, pour améliorer l'attrait visuel des documents financiers et du contenu en ligne.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://affinity.serif.com/en-us/photo/" target="_blank">
                                            <img src="/assets/svg/logos/photo-icon.svg" alt="Affinity Photo">
                                        </a>
                                        
                                        <span class="tooltiptext">Affinity Photo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>B2</b> Intermédiaire +</span>
                                    <span class="white-2">Publication Assistée par Ordinateur (PAO)</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Maîtrise de l'utilisation d'Affinity Publisher pour la création et la conception de documents professionnels, tels que des brochures, des rapports et des supports marketing.</li>
                                    <li>Compétent en conception de mise en page, typographie et formatage de documents, garantissant des présentations et des publications de haute qualité à des fins financières et commerciales.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://affinity.serif.com/en-us/publisher/" target="_blank">
                                            <img src="/assets/svg/logos/publisher-icon.svg" alt="Affinity Publisher">
                                        </a>
                                        
                                        <span class="tooltiptext">Affinity Publisher</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1"><b>A1</b> Basique</span>
                                    <span class="white-2">Montage Vidéo</span>
                                </div>

                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>

                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Connaissance des techniques de base de montage vidéo à l'aide de DaVinci Resolve, applicables à la création et au montage de contenu marketing, de vidéos d'entreprise ou de présentations au sein d'institutions financières.</li>
                                    <li>Capable d'effectuer des tâches vidéo simples, telles que le rognage, les transitions et la correction des couleurs de base, ce qui peut être utile pour produire du contenu visuel de qualité professionnelle pour les présentations clients et le matériel promotionnel.</li>
                                </ul>

                                <span class="gray-2">Pile Technologique</span>

                                <div class="tech-list">
                                    <div class="tooltip">
                                        <a href="https://www.blackmagicdesign.com/products/davinciresolve" target="_blank">
                                            <img src="/assets/svg/logos/davinci.svg" alt="Affinity Designer">
                                        </a>
                                        
                                        <span class="tooltiptext">DaVinci Resolve</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-title">
                    <h4>Compétences</h4>
                    <span class="title-1">Générales</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1">Finance</span>
                                    <span class="white-2">Pensée Analytique</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Capacité à décortiquer des données financières complexes et à en extraire des informations significatives.</li>
                                    <li>Compétent dans l'identification des tendances, des modèles et des risques potentiels, conduisant à une prise de décision éclairée.</li>
                                    <li>Compétent dans l'évaluation des opportunités d'investissement et dans l'évaluation de la santé financière.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1">Finance</span>
                                    <span class="white-2">Attention aux Détails</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Méticuleux dans l'examen des documents financiers, garantissant l'exactitude des rapports, des budgets et des prévisions.</li>
                                    <li>Capable de détecter les écarts et les erreurs dans les données, évitant ainsi des erreurs coûteuses dans les opérations financières.</li>
                                    <li>Assure systématiquement le respect des réglementations et des normes financières.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                <div class="accordion-container">
                                    <span class="gray-1">Finance</span>
                                    <span class="white-2">Résolution de Problèmes</span>
                                </div>
    
                                <div class="accordion-container">
                                    <img class="plus" src="/assets/svg/logos/plus-symbol-logo.svg" alt="Plus Symbol">
                                </div>
                            </button>
    
                            <div class="accordion-content" hidden>
                                <ul class="skills-list">
                                    <li>Expert dans l'identification des défis financiers et l'élaboration de solutions stratégiques.</li>
                                    <li>Expert dans l'application de la pensée critique pour résoudre les conflits et optimiser les résultats financiers.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Contact</h2>
                <span class="title">Message</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container center">
                <div class="in-touch">
                    <div>
                        <a href="mailto:gomeskevin.office@gmail.com">
                            <img src="/assets/svg/logos/gmail.svg" alt="Gmail">
                        </a>
                    </div>

                    <div>
                        <a href="https://www.linkedin.com/in/kevin-gpa/" target="_blank">
                            <img src="/assets/svg/logos/linkedin.svg" alt="LinkedIn">
                        </a>
                    </div>
                </div>
            </div>

            <div class="container center">
                <div class="text">
                    <h3>
                        <span>Contactez-moi</span>
                    </h3>
                    <h5>Connectez-vous avec moi sur mon profil de médias sociaux</h5>
                    <p>
                        Je suis toujours ouvert à la discussion sur de nouvelles opportunités, des 
                        collaborations ou toute question que vous pourriez avoir. Que vous souhaitiez 
                        discuter de projets financiers, m'embaucher potentiellement ou simplement avoir 
                        une conversation, n'hésitez pas à me contacter. Sélectionnez Gmail ou LinkedIn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../partials/footer-fr.ejs") %>