<%- include("../partials/header.ejs") %>

<%- include("../partials/navbar.ejs") %>

<section id="hero">
    <div class="wrapper two-columns">
        <div class="container">
            <img src="/assets/img/cv-image.png" alt="Portait Image">
        </div>

        <div class="container">
            <h1>
                <span>Aspiring</span>
                <span>Business</span>
                <span>Professional</span>
            </h1>
            <h5>High School Graduate in Commerce and Administration</h5>
            <p>
            My name is Kevin Gomes Pardal Antunes and I recently graduated from "Lycée 
            Technique d'Ettelbruck" with a focus on Commerce and Administration.
            </p>
            <div class="btn-link">
                <a href="assets/pdf/1GCC-élève-méritant.pdf" download="1GCC-élève-méritant.pdf" class="download-button">Download CV</a>
            </div>
        </div>
    </div>
    
</section>

<section id="education">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Education</h2>
                <span class="title">Specialty</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <img src="/assets/img/books.png" alt="">
            </div>

            <div class="container">
                <div class="text">
                    <h3>
                        <span>Life long learning</span>
                        <span>is essential to</span>
                        <span>succeed nowadays</span>
                    </h3>
                    <h5>It's crucial in the currently evolving job market.</h5>
                    <p>
                        My high school education has provided me with a solid foundation in business 
                        principles, and I'm excited to continue learning and growing in this field.
                        I'm passionate about business management, finance, and entrepreneurship, 
                        and I'm eager to bring my skills and enthusiasm to a dynamic team.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Certifications</h4>
                    <span class="title-1">Awards</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">1GCC | Deserving Student 2023/24</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">CNPSES & Chambre de Commerce</span>
                        <span class="white-2">Academic Performance Certificate (GCC) 2024</span>
                        <p>
                            Award for outstanding performance in Accounting, Business Economics & Political Economy which is awarded to only 40 Students in Luxembourg each year
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">2GCC | Deserving Student 2022/23</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">Trendiction SA | Job Shadow Event 2024</span>
                        <p>
                            A voluntary event for students to visit a company for one day (entrepreneurship & career guidance)
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Leisure</h4>
                    <span class="title-1">Hobbies</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Since 2024</span>
                        <span class="white-2">Photo Editing</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2023</span>
                        <span class="white-2">Web Development</span>
                        <p>
                            Award for outstanding performance in Accounting, Business Economics & Political Economy which is awarded to only 40 Students in Luxembourg each year
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2022</span>
                        <span class="white-2">Physical Exercise</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2018</span>
                        <span class="white-2">Graphic Design</span>
                        <p>
                            A voluntary event for students to visit a company for one day (entrepreneurship & career guidance)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="experience">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Work Experience</h2>
                <span class="title">Overview</span>
            </div>
        </div>

        <div class="container">
            <div class="text">
                <h3>
                    <span>Life long learning</span>
                    <span>is essential to</span>
                    <span>succeed nowadays</span>
                </h3>
                <h5>It's crucial in the currently evolving job market.</h5>
                <p>
                    My high school education has provided me with a solid foundation in business 
                    principles, and I'm excited to continue learning and growing in this field.
                    I'm passionate about business management, finance, and entrepreneurship, 
                    and I'm eager to bring my skills and enthusiasm to a dynamic team.
                </p>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">

            </div>
    
            <div class="container">
    
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="wrapper">

    </div>
</section>

<section>
    <div class="wrapper">

    </div>
</section>

<%- include("../partials/footer.ejs") %>