<%- include("../partials/header.ejs") %>

<%- include("../partials/navbar.ejs") %>

<section id="hero">
    <div class="wrapper two-columns">
        <div class="container">
            <img src="/assets/img/cv-image.png" alt="Portait Image">
        </div>

        <div class="container">
            <h1>
                <span>Aspiring</span>
                <span>Business</span>
                <span>Professional</span>
            </h1>
            <h5>High School Graduate in Commerce and Administration</h5>
            <p>
            My name is Kevin Gomes Pardal Antunes and I recently graduated from "Lycée 
            Technique d'Ettelbruck" with a focus on Commerce and Administration.
            </p>
            <div class="btn-link">
                <a href="assets/pdf/1GCC-élève-méritant.pdf" download="1GCC-élève-méritant.pdf" class="download-button">Download CV</a>
            </div>
        </div>
    </div>
    
</section>

<section id="goal">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Professional Goal</h2>
                <span class="title">Summary</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <img src="/assets/img/wall-street-plates.png" alt="portrait image">
            </div>

            <div class="container">
                <div class="text">
                    <h3>
                        <span>I aspire to</span>
                        <span>succeed in the</span>
                        <span>financial sector</span>
                    </h3>
                    <h5>Numbers and economic fields are something I am passionate about</h5>
                    <p>
                        Aspiring finance and accounting professional pursuing online 
                        bachelor's and master's degrees, with a focus on financial markets 
                        and stock-related sectors. Proficient in data analysis, financial management, 
                        and accounting software, with a passion for leveraging numbers to drive 
                        business growth. Fluent in five languages, with great problem-solving and organizational skills.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Education Path</h4>
                    <span class="title-1">Plan</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">IU Hochschule</span>
                                <span class="white-2">Bachelor Degree | in Finance</span>
                                <p>
                                    A distinction awarded to students with outstanding marks
                                    and examplary behavior.
                                </p>
                                <a class="normal-link" href="https://www.cfainstitute.org/en/" target="_blank">www.cfainsitute.org<img src="/assets/svg/link.svg" alt="link symbol"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">IU Hochschule</span>
                                <span class="white-2">Master Degree | Finance</span>
                                <p>
                                    A distinction awarded to students with outstanding marks
                                    and examplary behavior.
                                </p>
                                <a class="normal-link" href="https://www.cfainstitute.org/en/" target="_blank">www.cfainsitute.org<img src="/assets/svg/link.svg" alt="link symbol"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">CFA Institute</span>
                                <span class="white-2">CFA | Certified Financial Analyst</span>
                                <p>
                                    A distinction awarded to students with outstanding marks
                                    and examplary behavior.
                                </p>
                                <a class="normal-link" href="https://www.cfainstitute.org/en/" target="_blank">www.cfainsitute.org<img src="/assets/svg/link.svg" alt="link symbol"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Job Positions</h4>
                    <span class="title-1">Plan</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Entry-level</span>
                                <span class="white-2">Accountant</span>
                                <p>
                                    I have interested in the field of accounting.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Mid-level</span>
                                <span class="white-2">Accountant</span>
                                <p>
                                    I have interested in the field of accounting.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Higher Position</span>
                                <span class="white-2">Accountant</span>
                                <p>
                                    I have interested in the field of accounting.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="education">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Education</h2>
                <span class="title">Specialty</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <img src="/assets/img/books.png" alt="pile of books">
            </div>

            <div class="container">
                <div class="text">
                    <h3>
                        <span>Life long learning</span>
                        <span>is essential to</span>
                        <span>succeed nowadays</span>
                    </h3>
                    <h5>In the constantly evolving job market, it's vital</h5>
                    <p>
                        From an early age, I've been captivated by the intricacies of finance and economics. 
                        Whether exploring budgets, assisting with financial tasks, or collaborating on team 
                        projects, I'm eager to apply my growing skills to real-world financial scenarios. My 
                        high school education has given me a strong foundation in financial principles and 
                        business management. I have a passion for finance, investment, and entrepreneurship, I am excited to contribute my skills 
                        and enthusiasm to a forward-thinking financial team.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Certifications</h4>
                    <span class="title-1">Awards</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">1GCC | Deserving Student 2023/24</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">CNPSES & Chambre de Commerce</span>
                        <span class="white-2">Academic Performance Certificate (GCC) 2024</span>
                        <p>
                            Award for outstanding performance in Accounting, Business Economics & Political Economy which is awarded to only 40 Students in Luxembourg each year
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">2GCC | Deserving Student 2022/23</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">Trendiction SA | Job Shadow Event 2024</span>
                        <p>
                            A voluntary event for students to visit a company for one day (entrepreneurship & career guidance)
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">Aktiv Plang | Project 'Study' 2022/23</span>
                        <p>
                            Rewarded to students for their regular use of the library, a quiet place to do homework and research. 
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">CLIK Marketing | Mini-Entreprise 2023</span>
                        <p>
                            A programm that allowed Luxembourgish high school students to run a small company for a year, developing their entrepreneurial spirit and skills.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Institution</h4>
                    <span class="title-1">High School</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <img src="/assets/svg/ltett-logo.svg" alt="Ltett logo">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">Division of Commerce and Administration</span>
                        <span class="white-3">4GCM, 3GCM, 2GCC & 1GCC</span>
                        <a href="https://www.ltett.lu/" class="normal-link" target="_blank">www.ltett.lu<img src="/assets/svg/link.svg" alt="link symbol"></a>
                        <p>
                            <b>Graduated:</b> 6 July 2024
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion">
                            <div class="accordion-item">
                                <span class="gray-1">Relevant Coursework</span>
                                <button class="accordion-header" aria-expanded="false">
                                    Discipline: Business Economics
                                </button>

                                <div class="accordion-content" hidden>
                                    The “business economics” course encourages pupils to understand and 
                                    interpret the economic, legal, fiscal, financial, and social choices 
                                    companies make, and to subject them to critical consideration. Pupils
                                     are prepared to make decisions themselves on the assets of natural 
                                     and legal persons, taking into account legal, economic, fiscal, 
                                     financial, and social aspects.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    Discipline: Political Economy
                                </button>

                                <div class="accordion-content" hidden>
                                    The course on “political economy” encourages pupils to recognize and use 
                                    economic language to explain economic mechanisms, issues, and contemporary 
                                    problems from the viewpoint of various economic stakeholders.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    Discipline: Accountancy
                                </button>

                                <div class="accordion-content" hidden>
                                    The “accounting” course encourages pupils to acquire the essential rules 
                                    governing accounting techniques, enabling them to compile, audit, and 
                                    check a company's accounts.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    Discipline: Professional Communication and human relations
                                </button>

                                <div class="accordion-content" hidden>
                                    The course on “professional communication and human relations” encourages pupils 
                                    to acquire knowledge and skills specific to professional communication so they 
                                    can autonomously use and adapt them to situations in working life, incorporating 
                                    language skills (French, German, English). Additionally, the pupils are able to 
                                    write commercial letters of any kind.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    Discipline: Organisation and Office Management
                                </button>

                                <div class="accordion-content" hidden>
                                    The course on “organisation and management of activities” encourages pupils to 
                                    discover and implement varied techniques for organization and management, making 
                                    good use of technological resources to develop their ability to work and assist 
                                    others in organizational tasks.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    Discipline:  Information and Communication Technologies
                                </button>

                                <div class="accordion-content" hidden>
                                    The aim of the course on “information and communication technologies” is to study 
                                    the functioning of software that enables an organization (company, administration, 
                                    or association) to manage and communicate its data. It prepares pupils for working 
                                    life and higher studies.
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-header" aria-expanded="false">
                                    Discipline:  Knowledge of the Contemporary World
                                </button>

                                <div class="accordion-content" hidden>
                                    The course on “knowledge of the contemporary world" provides pupils with the necessary 
                                    elements to understand the contemporary world in all its complexity. Knowledge and 
                                    skills in areas as diverse as recent history, geography, political economy, society, 
                                    and contemporary geopolitics enable pupils to develop their critical faculties and act 
                                    as free, aware, and responsible citizens.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-title">
                    <h4>Leisure</h4>
                    <span class="title-1">Hobbies</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Since 2024</span>
                        <span class="white-2">Photo Editing</span>
                        <p>
                            
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2023</span>
                        <span class="white-2">Web Development</span>
                        <p>
                            
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2022</span>
                        <span class="white-2">Physical Exercise</span>
                        <p>
                            
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2018</span>
                        <span class="white-2">Graphic Design</span>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="experience">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Experience</h2>
                <span class="title">Overview</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <img src="/assets/img/pocket-watch.png" alt="pile of books">
            </div>

            <div class="container">
                <div class="text">
                    <h3>
                        <span>Leveraging internships</span>
                        <span>to develop versatile</span>
                        <span>skills across sectors</span>
                    </h3>
                    <h5>Building a strong foundation across diverse industries</h5>
                    <p>
                        As a recent graduate, I've gained valuable skills through internships in diverse 
                        industries. At a marble production company, I enhanced my organizational and 
                        customer service abilities by assisting with sales and streamlining administrative 
                        tasks. My pharmacy internship further developed my attention to detail and inventory 
                        management skills. These experiences have given me a solid foundation in organization 
                        and customer service, which I'm eager to apply in the finance industry.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Marble Manufacturer</h4>
                    <span class="title-1">2017</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <img src="/assets/svg/lampertz-stone-designer-logo.svg" alt="Lampertz Logo">
                        <span class="gray-1">Informational Internship</span>
                        <span class="white-2">Lampertz Stone Designer</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                More information
                            </button>

                            <div class="accordion-content" hidden>
                                During my commerce studies, I interned at a marble stone fabricator, 
                                gaining comprehensive knowledge of the marble industry. I assisted with sales 
                                by interacting with customers, understanding their needs, and helping 
                                them choose suitable marble products. Additionally, I observed the 
                                installation process, learning about the technical and logistical aspects. 
                                This experience deepened my understanding of various marble types, their 
                                applications, and the craftsmanship involved, while also enhancing my 
                                customer service and product selection skills.
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <ul class="exp-ul">
                            <li>Acquired comprehensive knowledge about the marble industry</li>
                            <li>Assisted with sales. Observed sales experts interacting with customers, 
                                understanding their needs, and  how they helped them choose suitable 
                                marble products</li>
                            <li>Observed the installation process, gaining insights into technical 
                                and logistical aspects of marble installation</li>
                            <li>Developed better understanding of customer service and product selection</li>
                            <li>Organized documents and files to improve efficiency in administration</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Pharmacy</h4>
                    <span class="title-1">2016</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <img src="/assets/svg/pharmacie-hosingen-logo.svg" alt="Pharmacie Hosingen Logo">
                        <span class="gray-1">Information Internship</span>
                        <span class="white-2">Lampertz Stone Designer</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <div class="accordion-item">
                            <button class="accordion-header" aria-expanded="false">
                                More information
                            </button>

                            <div class="accordion-content" hidden>
                                During my commerce studies, I interned at a marble stone fabricator, 
                                gaining comprehensive knowledge of the marble industry. I assisted with sales 
                                by interacting with customers, understanding their needs, and helping 
                                them choose suitable marble products. Additionally, I observed the 
                                installation process, learning about the technical and logistical aspects. 
                                This experience deepened my understanding of various marble types, their 
                                applications, and the craftsmanship involved, while also enhancing my 
                                customer service and product selection skills.
                            </div>
                        </div>
                    </div>

                    <div class="column-box">
                        <ul class="exp-ul">
                            <li>Acquired comprehensive knowledge about the marble industry</li>
                            <li>Assisted with sales. Observed sales experts interacting with customers, 
                                understanding their needs, and  how they helped them choose suitable 
                                marble products</li>
                            <li>Observed the installation process, gaining insights into technical 
                                and logistical aspects of marble installation</li>
                            <li>Developed better understanding of customer service and product selection</li>
                            <li>Organized documents and files to improve efficiency in administration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Skills</h2>
                <span class="title">Industry</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <img src="/assets/img/books.png" alt="pile of books">
            </div>

            <div class="container">
                <div class="text">
                    <h3>
                        <span>Life long learning</span>
                        <span>is essential to</span>
                        <span>succeed nowadays</span>
                    </h3>
                    <h5>My problem-solving abilities enable me to address challenges methodically.</h5>
                    <p>
                        My educational journey has equipped me with crucial hard skills essential for 
                        success in the financial sector. I have developed strong analytical abilities 
                        that allow me to approach problems with a logical, data-driven mindset. I excel 
                        in financial analysis, data interpretation, and precise report writing, ensuring 
                        clarity and accuracy in communication. Additionally, I am proficient in key financial 
                        software and tools, and I adapt quickly to new technologies and processes, consistently 
                        maintaining a strong work ethic.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Hard Skills</h4>
                    <span class="title-1">Awards</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">Accordion </span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">CNPSES & Chambre de Commerce</span>
                        <span class="white-2">Academic Performance Certificate (GCC) 2024</span>
                        <p>
                            Award for outstanding performance in Accounting, Business Economics & Political Economy which is awarded to only 40 Students in Luxembourg each year
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">2GCC | Deserving Student 2022/23</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">Trendiction SA | Job Shadow Event 2024</span>
                        <p>
                            A voluntary event for students to visit a company for one day (entrepreneurship & career guidance)
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Soft Skills</h4>
                    <span class="title-1">Hobbies</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Since 2024</span>
                        <span class="white-2">Soft skills then different apps below with tooltip</span>
                        <p>
                            dd
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2023</span>
                        <span class="white-2">Web Development</span>
                        <p>
                            
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2022</span>
                        <span class="white-2">Physical Exercise</span>
                        <p>
                            
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2018</span>
                        <span class="white-2">Graphic Design</span>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Contact</h2>
                <span class="title">Message</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <img src="/assets/img/books.png" alt="pile of books">
            </div>

            <div class="container">
                <div class="text">
                    <h3>
                        <span>Life long learning</span>
                        <span>is essential to</span>
                        <span>succeed nowadays</span>
                    </h3>
                    <h5>My problem-solving abilities enable me to address challenges methodically.</h5>
                    <p>
                        My educational journey has endowed me with essential soft skills that are vital for professional 
                        success. While I may not be the most socially adept, I excel in written communication, allowing me 
                        to articulate ideas clearly. My problem-solving abilities enable me to address challenges with a 
                        logical and strategic approach. Additionally, I am a quick learner, adaptable, and possess a strong 
                        work ethic.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../partials/footer.ejs") %>