<%- include("../partials/header.ejs") %>

<%- include("../partials/navbar.ejs") %>

<section id="hero">
    <div class="wrapper two-columns">
        <div class="container">
            <img src="/assets/img/cv-image.png" alt="Portait Image">
        </div>

        <div class="container">
            <h1>
                <span>Aspiring</span>
                <span>Business</span>
                <span>Professional</span>
            </h1>
            <h5>High School Graduate in Commerce and Administration</h5>
            <p>
            My name is Kevin Gomes Pardal Antunes and I recently graduated from "Lycée 
            Technique d'Ettelbruck" with a focus on Commerce and Administration.
            </p>
            <div class="btn-link">
                <a href="assets/pdf/1GCC-élève-méritant.pdf" download="1GCC-élève-méritant.pdf" class="download-button">Download CV</a>
            </div>
        </div>
    </div>
    
</section>

<section id="goal">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Professional Goal</h2>
                <span class="title">Summary</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <img src="/assets/img/wall-street-plates.png" alt="portrait image">
            </div>

            <div class="container">
                <div class="text">
                    <h3>
                        <span>I aspire to</span>
                        <span>succeed in the</span>
                        <span>financial sector</span>
                    </h3>
                    <h5>Numbers and economic fields are part of my passion.</h5>
                    <p>
                        Aspiring finance and accounting professional pursuing online 
                        bachelor's and master's degrees, with a focus on financial markets 
                        and stock-related sectors. Proficient in data analysis, financial management, 
                        and accounting software, with a passion for leveraging numbers to drive 
                        business growth. Fluent in five languages, with great problem-solving and organizational skills.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Education Path</h4>
                    <span class="title-1">Plan</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">IU Hochschule</span>
                                <span class="white-2">Bachelor Degree | in Finance</span>
                                <p>
                                    A distinction awarded to students with outstanding marks
                                    and examplary behavior.
                                </p>
                                
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">IU Hochschule</span>
                                <span class="white-2">Master Degree | Finance</span>
                                <p>
                                    A distinction awarded to students with outstanding marks
                                    and examplary behavior.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">CFA Institute</span>
                                <span class="white-2">CFA | Certified Financial Analyst</span>
                                <p>
                                    A distinction awarded to students with outstanding marks
                                    and examplary behavior.
                                </p>
                                <a href="https://www.cfainstitute.org/en/" target="_blank">www.cfainsitute.org</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Job Positions</h4>
                    <span class="title-1">Plan</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Entry-level</span>
                                <span class="white-2">Accountant</span>
                                <p>
                                    I have interested in the field of accounting.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Mid-level</span>
                                <span class="white-2">Accountant</span>
                                <p>
                                    I have interested in the field of accounting.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="column-box">
                        <ul>
                            <li>
                                <span class="gray-1">Higher Position</span>
                                <span class="white-2">Accountant</span>
                                <p>
                                    I have interested in the field of accounting.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="education">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Education</h2>
                <span class="title">Specialty</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <img src="/assets/img/books.png" alt="pile of books">
            </div>

            <div class="container">
                <div class="text">
                    <h3>
                        <span>Life long learning</span>
                        <span>is essential to</span>
                        <span>succeed nowadays</span>
                    </h3>
                    <h5>It's crucial in the constant evolving job market</h5>
                    <p>
                        From an early age, I've been captivated by the intricacies of finance and economics. 
                        Whether exploring budgets, assisting with financial tasks, or collaborating on team 
                        projects, I'm eager to apply my growing skills to real-world financial scenarios. My 
                        high school education has given me a strong foundation in financial principles and 
                        business management. I have a passion for finance, investment, and entrepreneurship, I am excited to contribute my skills 
                        and enthusiasm to a forward-thinking financial team.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Certifications</h4>
                    <span class="title-1">Awards</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">1GCC | Deserving Student 2023/24</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">CNPSES & Chambre de Commerce</span>
                        <span class="white-2">Academic Performance Certificate (GCC) 2024</span>
                        <p>
                            Award for outstanding performance in Accounting, Business Economics & Political Economy which is awarded to only 40 Students in Luxembourg each year
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">2GCC | Deserving Student 2022/23</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">Trendiction SA | Job Shadow Event 2024</span>
                        <p>
                            A voluntary event for students to visit a company for one day (entrepreneurship & career guidance)
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Leisure</h4>
                    <span class="title-1">Hobbies</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Since 2024</span>
                        <span class="white-2">Photo Editing</span>
                        <p>
                            
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2023</span>
                        <span class="white-2">Web Development</span>
                        <p>
                            
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2022</span>
                        <span class="white-2">Physical Exercise</span>
                        <p>
                            
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2018</span>
                        <span class="white-2">Graphic Design</span>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="experience">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Experience</h2>
                <span class="title">Overview</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <img src="/assets/img/pocket-watch.png" alt="pile of books">
            </div>

            <div class="container">
                <div class="text">
                    <h3>
                        <span>Leveraging internships</span>
                        <span>to develop versatile</span>
                        <span>skills across sectors</span>
                    </h3>
                    <h5>Building a strong foundation across diverse industries</h5>
                    <p>
                        As a recent graduate, I've gained valuable skills through internships in diverse 
                        industries. At a marble production company, I enhanced my organizational and 
                        customer service abilities by assisting with sales and streamlining administrative 
                        tasks. My pharmacy internship further developed my attention to detail and inventory 
                        management skills. These experiences have given me a solid foundation in organization 
                        and customer service, which I'm eager to apply in the finance industry.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Marble Manufacturer</h4>
                    <span class="title-1">2017</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <img src="/assets/svg/lampertz-stone-designer-logo.svg" alt="Lampertz Logo">
                        <span class="gray-1">Informational Internship</span>
                        <span class="white-2">Lampertz Stone Designer</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <p>
                            During my commerce studies, I interned at a marble stone fabricator, 
                            gaining comprehensive knowledge of the marble industry. I assisted with sales 
                            by interacting with customers, understanding their needs, and helping 
                            them choose suitable marble products. Additionally, I observed the 
                            installation process, learning about the technical and logistical aspects. 
                            This experience deepened my understanding of various marble types, their 
                            applications, and the craftsmanship involved, while also enhancing my 
                            customer service and product selection skills.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Pharmacy</h4>
                    <span class="title-1">2016</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <img src="/assets/svg/pharmacie-hosingen-logo.svg" alt="Pharmacie Hosingen Logo">
                        <span class="gray-1">Information Internship</span>
                        <span class="white-2">Lampertz Stone Designer</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <p>
                            During my commerce studies, I interned at a local pharmacy, gaining invaluable 
                            hands-on experience. I was actively involved in daily operations, particularly 
                            in inventory management, ensuring medications and supplies were stocked and 
                            organized. This included conducting inventory checks, managing stock levels, 
                            and reordering products as needed. I also supported the pharmacy staff in 
                            maintaining records and organizing storage areas. This experience enhanced 
                            my understanding of inventory control processes, improved my organizational 
                            skills, and provided insights into pharmacy operations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Skills</h2>
                <span class="title">Industry</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <img src="/assets/img/books.png" alt="pile of books">
            </div>

            <div class="container">
                <div class="text">
                    <h3>
                        <span>Life long learning</span>
                        <span>is essential to</span>
                        <span>succeed nowadays</span>
                    </h3>
                    <h5>My problem-solving abilities enable me to address challenges methodically.</h5>
                    <p>
                        My educational journey has endowed me with essential soft skills that are vital for professional 
                        success. While I may not be the most socially adept, I excel in written communication, allowing me 
                        to articulate ideas clearly. My problem-solving abilities enable me to address challenges with a 
                        logical and strategic approach. Additionally, I am a quick learner, adaptable, and possess a strong 
                        work ethic.
                    </p>
                </div>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <div class="flex-title">
                    <h4>Hard Skills</h4>
                    <span class="title-1">Awards</span>
                </div>
                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">Accordion </span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">CNPSES & Chambre de Commerce</span>
                        <span class="white-2">Academic Performance Certificate (GCC) 2024</span>
                        <p>
                            Award for outstanding performance in Accounting, Business Economics & Political Economy which is awarded to only 40 Students in Luxembourg each year
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Lycée Technique d'Ettelbruck</span>
                        <span class="white-2">2GCC | Deserving Student 2022/23</span>
                        <p>
                            A distinction awarded to students with outstanding marks
                            and examplary behavior.
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Jonk Entrepreneuren</span>
                        <span class="white-2">Trendiction SA | Job Shadow Event 2024</span>
                        <p>
                            A voluntary event for students to visit a company for one day (entrepreneurship & career guidance)
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flex-title">
                    <h4>Soft Skills</h4>
                    <span class="title-1">Hobbies</span>
                </div>

                <div class="column-list">
                    <div class="column-box">
                        <span class="gray-1">Since 2024</span>
                        <span class="white-2">Soft skills then different apps below with tooltip</span>
                        <p>
                            
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2023</span>
                        <span class="white-2">Web Development</span>
                        <p>
                            
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2022</span>
                        <span class="white-2">Physical Exercise</span>
                        <p>
                            
                        </p>
                    </div>

                    <div class="column-box">
                        <span class="gray-1">Since 2018</span>
                        <span class="white-2">Graphic Design</span>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="wrapper">
        <div class="container">
            <div class="flex-title">
                <h2>Contact</h2>
                <span class="title">Message</span>
            </div>
        </div>

        <div class="two-columns">
            <div class="container">
                <img src="/assets/img/books.png" alt="pile of books">
            </div>

            <div class="container">
                <div class="text">
                    <h3>
                        <span>Life long learning</span>
                        <span>is essential to</span>
                        <span>succeed nowadays</span>
                    </h3>
                    <h5>My problem-solving abilities enable me to address challenges methodically.</h5>
                    <p>
                        My educational journey has endowed me with essential soft skills that are vital for professional 
                        success. While I may not be the most socially adept, I excel in written communication, allowing me 
                        to articulate ideas clearly. My problem-solving abilities enable me to address challenges with a 
                        logical and strategic approach. Additionally, I am a quick learner, adaptable, and possess a strong 
                        work ethic.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../partials/footer.ejs") %>