<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="../Assets/Svg/favicon-logo.svg">
    <title>CV - Kevin Gomes</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <main>
        <section>
            <div class="wrapper">
                <div class="container">
                    <h1>Curriculum Vitae</h1>
                    <h2>Kevin Gomes Pardal Antunes</h2>
                    <h3>Language | Langage | Sprache</h3>
                </div>

                <div class="container">
                    <div class="flexbox-flag">
                        <a href="/gb"><img src="/public/assets/svg/gb.svg" alt="flag of the United Kingdom"></a>
                        <a href="/fr"><img src="assets/svg/fr.svg" alt="flag of France"></a>
                        <a href="/de"><img src="assets/svg/de.svg" alt="flag of Germany"></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="./script.js"></script>
</body>
</html>