<%- include("../partials/header-fr.ejs") %>
<body>
    <header>
        <div class="header-wrapper">
            <a href="/fr" class=" header-container cv-logo">
                CV
            </a>
        </div>
    </header>

    <main>
        <section id="terms">
            <div class="wrapper terms">
                <div class="container">
                    <h1>Politique de Confidentialité</h1>
                </div>

                <div class="container">
                    <h4>Introduction</h4>
                    <p>
                        Votre vie privée est importante pour moi. Cette politique de confidentialité explique 
                        comment je gère et protège vos informations personnelles lorsque vous visitez mon site 
                        Web de CV. En utilisant ce site, vous acceptez les pratiques décrites ci-dessous.
                    </p>
                </div>

                <div class="container">
                    <h4>Informations que je collecte</h4>
                    <p>
                        Étant donné la nature de ce site Web, je ne collecte pas activement d'informations personnelles 
                        auprès des visiteurs. Cependant, si vous choisissez d'interagir avec moi via des plateformes 
                        de médias sociaux liées, toutes les informations que vous y fournissez peuvent être collectées 
                        et utilisées par ces services tiers.
                    </p>
                </div>

                <div class="container">
                    <h4>Liens externes</h4>
                    <p>
                        Ce site Web contient des liens vers mes profils de réseaux sociaux (par exemple, LinkedIn, Twitter, 
                        etc.). Veuillez noter que ces plateformes peuvent collecter des informations personnelles 
                        conformément à leurs propres politiques de confidentialité. Je vous recommande de consulter les 
                        politiques de confidentialité de ces sites tiers si vous avez des inquiétudes.
                    </p>
                </div>

                <div class="container">
                    <h4>Comment j'utilise vos Informations</h4>
                    <p>
                        Si vous choisissez d'interagir avec moi via les réseaux sociaux ou d'autres services liés, toutes 
                        les informations personnelles partagées sont traitées conformément aux conditions générales de ces 
                        plateformes. Je ne collecte ni ne stocke ces informations sur mon site Web.
                    </p>
                </div>

                <div class="container">
                    <h4>Securité</h4>
                    <p>
                        Bien que je ne collecte ni ne stocke de données personnelles via ce site Web, j'encourage des 
                        pratiques de navigation sûres lors de l'interaction avec des plateformes en ligne, y compris mes 
                        profils de médias sociaux liés.
                    </p>
                </div>

                <div class="container">
                    <h4>Modifications apportées à cette Politique</h4>
                    <p>
                        Je peux mettre à jour cette politique de confidentialité de temps à autre pour refléter les 
                        changements dans ma présence en ligne ou les exigences légales. Toutes les mises à jour seront 
                        publiées sur cette page et la politique révisée entrera en vigueur immédiatement après sa publication.
                    </p>
                </div>

                <div class="container">
                    <h4>Contactez-moi</h4>
                    <p>
                        Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, 
                        n'hésitez pas à me contacter via mes profils de réseaux sociaux.
                    </p>
                </div>
            </div>
        </section>