<%- include("../partials/header-de.ejs") %>
<body>
    <header>
        <div class="header-wrapper">
            <a href="/de" class=" header-container cv-logo">
                CV
            </a>
        </div>
    </header>

    <main>
        <section id="terms">
            <div class="wrapper terms">
                <div class="container">
                    <h1>Datenschutzrichtlinie</h1>
                </div>

                <div class="container">
                    <h4>Einführung</h4>
                    <p>
                        Ihre Privatsphäre ist mir wichtig. Diese Datenschutzrichtlinie erläutert, wie ich mit 
                        Ihren persönlichen Daten umgehe und sie schütze, wenn Sie meine Lebenslauf-Website 
                        besuchen. Durch die Nutzung dieser Website stimmen Sie den unten beschriebenen Praktiken 
                        zu.
                    </p>
                </div>

                <div class="container">
                    <h4>Von Mir Erfasste Informationen</h4>
                    <p>
                        Aufgrund der Art dieser Website sammle ich nicht aktiv persönliche Informationen von 
                        Besuchern. Wenn Sie sich jedoch dazu entschließen, über verknüpfte Social-Media-Plattformen 
                        mit mir zu interagieren, können alle dort bereitgestellten Informationen von diesen 
                        Drittanbieterdiensten gesammelt und verwendet werden.
                    </p>
                </div>

                <div class="container">
                    <h4>Externe Links</h4>
                    <p>
                        Diese Website enthält Links zu meinen Social-Media-Profilen (z. B. LinkedIn, Twitter usw.). 
                        Bitte beachten Sie, dass diese Plattformen gemäß ihren eigenen Datenschutzrichtlinien 
                        möglicherweise persönliche Informationen sammeln. Ich empfehle Ihnen, die Datenschutzrichtlinien 
                        dieser Websites Dritter zu überprüfen, wenn Sie Bedenken haben.
                    </p>
                </div>

                <div class="container">
                    <h4>Wie Ich Ihre Informationen Verwende</h4>
                    <p>
                        Wenn Sie sich dafür entscheiden, mit mir über soziale Medien oder andere verknüpfte Dienste zu 
                        interagieren, werden alle weitergegebenen persönlichen Daten gemäß den Bedingungen dieser Plattformen 
                        behandelt. Ich sammle oder speichere diese Informationen nicht auf meiner Website.
                    </p>
                </div>

                <div class="container">
                    <h4>Sicherheit</h4>
                    <p>
                        Obwohl ich über diese Website keine personenbezogenen Daten sammle oder speichere, empfehle ich 
                        sichere Surfpraktiken bei der Interaktion mit Online-Plattformen, einschließlich meiner verknüpften 
                        Social-Media-Profile.
                    </p>
                </div>

                <div class="container">
                    <h4>Änderungen Dieser Richtlinie</h4>
                    <p>
                        Ich kann diese Datenschutzrichtlinie von Zeit zu Zeit aktualisieren, um Änderungen meiner Online-Präsenz 
                        oder rechtlichen Anforderungen Rechnung zu tragen. Alle Aktualisierungen werden auf dieser Seite veröffentlicht 
                        und die überarbeitete Richtlinie tritt sofort nach der Veröffentlichung in Kraft.
                    </p>
                </div>

                <div class="container">
                    <h4>Kontaktieren Sie Mich</h4>
                    <p>
                        Wenn Sie Fragen oder Bedenken zu dieser Datenschutzrichtlinie haben, können Sie mich gerne über meine 
                        Social-Media-Profile kontaktieren.
                    </p>
                </div>
            </div>
        </section>